{% extends ../frame.html %}

{% block static %}
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/alert.css') }}"/>
{% end %}
{% block bodyleft %}
	<table class="table table-condensed" style="background:white;">
		<thead>
			<tr>
				<th>概要</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for a in alert_list %}
			<tr>
				<td>{{a['nick']}}：{{ a['content'] }}</td>
				<td><a href="/weibo/{{ a['id'] }}/">查看</a></td>
			</tr>
			{% end %}
		</tbody>
	</table>
{% end %}
{% block bodyright %}{% end %}