{% extends ../frame.html %}

{% block meta %}
	<title>提醒_深呼吸</title>
	<meta name="keywords" content="活动提醒 游记通知 驴友微博提醒">
	<meta name="description" content="深呼吸提醒旨在为驴友提供全面儿友好的提示以便驴友更好交流 参加活动 游记、攻略讨论 发布活动 等等操作。">
{% end %}

{% block static %}
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/alert.css') }}"/>
{% end %}
{% block bodyleft %}
<div class="box">
	<table class="table table-condensed bg-white">
		<thead>
			<tr>
				<th>概要</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
			{% for a in alert_list %}
			<tr>
				<td>{{a['nick']}}：{{ a['content'] }}</td>
				<td><a href="/weibo/{{ a['id'] }}/" title="{{a['content']}}" alt="{{a['content']}}">查看</a></td>
			</tr>
			{% end %}
		</tbody>
	</table>
</div>
{% end %}
{% block bodyright %}{% end %}