{% extends ../tframe.html %}

{% block static %}
	<script src="{{ static_url('js/do.js') }}" type="text/javascript"></script>
	<script src="http://img3.douban.com/js/ui/packed_dialog6160013120.js" type="text/javascript"></script>
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/map.css') }}"/>
{% end %}
{% block bodyleft %}
	<div id="wrapper" class="fwrap" style="background:white;padding:15px;height:500px;width:745px;">
		<div id="content">
			<div class="grid-16-8 clearfix">
				<div class="article">
					<form id="eform" name="lzform" action="" method="post" autocomplete="off">
						<div class="row">
							<div class="item extra-tips page-address">
								<input id="loc_id" name="loc_id" type="hidden" value="0"/>
								<span class="all-address-field">
									<span id="loc">北京</span>
									<select class="basic-input" id="district_id" name="district_id">
										<option value="0">城区</option>
										<option value="128519">东城区</option>
										<option value="128520">西城区</option>
									</select>
									<input class="basic-input" id="street_address" name="street_address" type="text" size="34" placeholder="详细地址" value=""/>
								</span>
								<input id="location-latLng" type="hidden" name="location-latLng" value="" />
								<div class="suggest-wrap"></div>
							</div>
							<div class="item">
								<input id="latLgt" name="latLgt" type="hidden" />
								<input id="bits_2" type="checkbox" checked="checked" name="bits_2"/>
								<label for="bits_2">显示地图<span class="tip"> (推荐，没有准确地图定位的活动可能被管理员驳回) </span></label>
								<div id="event-map-wrap"></div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="{{ static_url('js/map.js') }}" type="text/javascript"></script>
{% end %}
{% block bodyright %}{% end %}
