{% extends ../frame93.html %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery-ui.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.tags.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/tags.js') }}" type="text/javascript"></script>

	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-album').addClass("active");
			yhui.iTag.create($('#atag'), {
				id: 'albumTags',
				eclass: 'span3',
				initTags: false,
				addedAble: false,
				editAble: true,
				tagSource:function(search, showChoices) {
					var that = this;
					var args = {'search': search.term};
					$.postJSON("/a/tag/list/", 'GET', args, function(response) {
						if (response.error){
							return alert(response.error);
						}
						showChoices(that._subtractArray(response.data, that.assignedTags()));
					});
				}
			});
		})
	</script>
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery-ui.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.tags.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/tagit.ui-zendesk.css') }}"/>
{% end %}
{% block bodyleft %}
<div class="box">
	<form id="form_album" class="form-horizontal album-form" method="post" action="/album/create/">
	<fieldset>
		<legend>新建相册</legend>
		<div class="control-group">
			<label class="control-label" for="focusedInput">名称(必填):</label>
			<div class="controls"><input id="title" name="title" type="text" class="span6" /></div>
		</div>
		<div class="control-group">
			<label class="control-label" for="focusedInput">描述:</label>
			<div class="controls">
				<textarea id="content" name="content" rows="10" class="span6" style="margin-top:3px;"></textarea>
			</div>
		</div>
		<div class="control-group hide">
			<label class="control-label" for="focusedInput">浏览权限:</label>
			<div class="controls">
				<label class="radio inline"><input type="radio" name="allowed" value="1" checked="&quot;checked&quot;">所有可见</label>
				<label class="radio inline"><input type="radio" name="allowed" value="2">关注可见</label>
				<label class="radio inline"><input type="radio" name="allowed" value="3">自己可见</label>
			</div>
		</div>
		<div class="">
			<a id="cancel_album" class="btn pull-left" style="margin-left:70px;" href="/album/">取消</a>
			<input id="build_album" class="btn btn-success pull-right" style="margin-right:70px;" value="建立相册" type="submit" name="album_submit" />
		</div>
	</fieldset>
	</form>
</div>
{% end %}
{% block bodyright %}
	<h3 class="hide">相册标签:</h3>
	<div class="hide" id="atag"></div>
{% end %}