{% extends ../frame.html %}

{% block meta %}
	<title>相册_深呼吸</title>
	<meta name="keywords" content="风景 户外照片 驴友照片">
	<meta name="description" content="深呼吸相册旨在为驴友展示户外旅游时拍下来的人物、风景、美食、风土人情等照片汇集成册，供大家欣赏、讨论 供自己回味、记录。">
{% end %}
{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-album').addClass("active");
		})
	</script>
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/album.css') }}"/>
{% end %}
{% block bodyleft %}
<div id="album" class="box">
	<h1>相册</h1>
	<ul class="sortable">
		{% for album in album_list %}
		<li>
			<div class="pin pinBoard">
				<h3 class="serif">
					<a href="/album/{{album['id']}}/" title="{{album['title']}}" alt="{{album['title']}}">{{album['title']}}</a>
				</h3>
				<h4>{{ len(album['photos']) }}张</h4>
				<div class="board">
					<a href="/album/{{album['id']}}/" title="{{album['title']}}" alt="{{album['title']}}" class="link">&nbsp;</a>
					<div class="holder">
						<span class="cover">
							<img src="/image/attach/{{album['photos'][0]}}_300" alt="{{album['title']}}" style="opacity: 1;height:150px;width：100%">
						</span>
						<span class="thumbs">
							{% for photo in album['photos'][1:5] %}
								{% if photo %}<img src="/image/attach/{{ photo }}_100" alt="{{album['title']}}">{% else %}<span class="empty"></span>{% end %}
							{% end %}
						</span>
					</div>
					<div class="followBoard"></div>
				</div>
			</div>
		</li>
		{% end %}
	</ul>
	<div class="clear"></div>
</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" title="新建相册" alt="新建相册" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/album/create/">新建相册</a>
{% end %}