{% extends ../box93.html %}

{% block static %}{% end %}
{% block bodyleft %}
	<form class="form-horizontal row-fluid bg-white" name="content-form" method="POST" action="/auth/">
		<fieldset>
			<div class="control-group error">
				<label class="control-label" for="textarea">昵称已被占用，请修改:</label>
				<div class="controls">
					<input name="nick" type=text value="{{ nick }}"/>
					<input name="extra" type=hidden value="{{ extra }}"/>
					<input class="btn" type=submit value="修改"/>
				</div>
			</div>
		</fieldset>
	</form>
{% end %}

{% block bodyright %}{% end %}