{% extends ../box.html %}

{% block static %}{% end %}
{% block box %}
	<div class="agrbox boxmg lucency" style="width:400px;height:300px;">
		<div style="margin:10px 0 0 10px;">
			<form action="/account/cpassword/" method="POST">
				<br/><br/>
				<span>旧的密码：</span><input name="oldpassword" type=password style="width:280px;height:30px;"/><br/><br/>
				<span>新的密码：</span><input name="newpassword" type=password style="width:280px;height:30px;"/><br/><br/>
				<span>确认密码：</span><input name="confpassword" type=password style="width:280px;height:30px;"/><br/><br/>
				<div style="padding-left:320px;"><input type=submit value="修改"/></div>
			</form>
		</div><br/>
	</div>
{% end %}