{% extends ../frame.html %}

{% block meta %}
	<title>{{ current_user }}主页</title>
	<meta name="keywords" content="{{ current_user }}主页 户外 驴友">
	<meta name="description" content="北京户外网{{ current_user }}驴友的个人主页">
{% end %}

{% block static %}
	<script src="{{ static_url('js/jquery.alert.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			yhui.iAlert.list($('#alert'), {});
		})
	</script>
	{% block static-added %}{% end %}
{% end %}
{% block bodyleft %}
<h2>{{title}}</h2>
{% end %}
{% block bodyright %}
<div id="alert"></div>
{% end %}