{% extends ../frame.html %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$("#poster").uploadify({
				swf				: '{{ static_url("js/uploadify.swf") }}',
				uploader		: '/a/avatar?uid={{uid}}',
				checkExisting	: '/a/image/check',
				buttonText		: '点击上传',
				cancelImage		: '{{ static_url("img/uploadify-cancel.png") }}',
				auto			: true, 
				scriptData		: {'uid':'{{ uid }}'},
				fileObjName		: 'upload',
				onUploadSuccess : function (file, data, response) {
					//$('#poster').html('<img src="/image/avatar/'+data+'_300"/>');
					$('#poster').html('<input type="hidden" name="avanta" value="'+data+'"/><img src="/image/avatar/'+data+'_30"/>');
					$('#poster_queue').hide();
					},
				onError			: function (event, queueID, fileObj){alert("文件:" + fileObj.name + " 上传失败");}
			});
			cpassword();
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
	{% block static-added %}{% end %}
{% end %}
{% block bodyleft %}
	<ul class="nav nav-tabs row-fluid">
		<li class="active"><a>基本设置</a></li>
		<li class="hide"><a href="/account/setting/alert/">消息设置</a></li>
		<li class="hide"><a href="/account/setting/thirdpart/">账号绑定</a></li>
	</ul>
	<form class="form-horizontal row-fluid bg-white" name="content-form" method="POST" action="/account/setting/">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="textarea">名号:</label>
				<div class="controls">
					{% if ifNone(current_user) %}<span>{{current_user}}</span>{% else %}<input type="text" name="nick" value=""/>{% end %}
				</div>
			</div>
			<div class="control-group" style="display:none;">
				<label class="control-label" for="textarea">我的域名:</label>
				<div class="controls">
					{% if ifNone(domain) %}<span>{{domain}}</span>{% else %}<input type="text" name="domain" value=""/>{% end %}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">头像:</label>
				<div class="controls">
					{% if ifNone(avanta) %}<img src="/image/avatar/{{uid}}_30"/>{% else %}<div id="poster">Uploadify</div>{% end %}
				</div>
			</div>
			<div class="control-group hide">
				<label class="control-label" for="textarea">常居地:</label>
				<div class="controls">
					{% if ifNone(live) %}<script>select_pid("live", {{live}})</script>{% else %}<script>select_pid("live", 1)</script><span id="live"></span>{% end %}
				</div>
			</div>
			<div class="control-group hide">
				<label class="control-label" for="textarea">绑定邮箱:</label>
				<div class="controls">
					{% if ifNone(mail) %}<span>{{mail}}</span>{% else %}<input type="text" name="mail" value=""/>{% end %}
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">密码:</label>
				<div class="controls">
					<a class="" data-toggle="modal" href="#change_pwd" >修改密码</a>
				</div>
			</div>
			<div class="control-group hide">
				<label class="control-label" for="textarea">手机号:</label>
				<div class="controls">
					{% if ifNone(phone) %}<span>{{phone}}</span>{% else %}<input type="text" name="phone" value=""/>{% end %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">完成</button>
				<a class="btn" href="/accout/profile/" >取消</a>
			</div>
		</fieldset>
	</form>
	<div id="change_pwd" class="modal hide fade">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>密码修改</h3>
		</div>
		<div class="modal-body">
			<form class="form-horizontal" action="/account/cpassword/" method="post">
				<fieldset>
					<div class="control-group">
						<label class="control-label" for="nick">旧的密码</label>
						<div class="controls">
							<input name="oldpassword" type="password">
							<span class="help-inline hide">必填</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="email">新的密码</label>
						<div class="controls">
							<input name="newpassword" type="password">
							<span class="help-inline hide">必填</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" for="password">确认密码</label>
						<div class="controls">
							<input name="confpassword" type="password">
							<span class="help-inline hide">必填</span>
						</div>
					</div>
					<div class="form-actions">
						<input type="submit" class="btn btn-primary" value="修改"/>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
{% end %}
{% block bodyright %}{% end %}