{% extends ../frame.html %}

{% block static %}{% end %}
{% block bodyleft %}
	<ul class="nav nav-tabs row-fluid">
		<li><a href="/account/setting/">基本设置</a></li>
		<li class="active"><a>消息设置</a></li>
		<li><a href="/account/setting/thirdpart/">账号绑定</a></li>
	</ul>
	<form class="form-horizontal row-fluid" name="content-form" method="POST" action="/account/setting/">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="textarea">名号:</label>
				<div class="controls">
					{% if ifNone(current_user) %}<span>{{current_user}}</span>{% else %}<input type="text" name="nick" value=""/>{% end %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">完成</button>
				<a class="btn" href="/accout/profile/" >取消</a>
			</div>
		</fieldset>
	</form>
{% end %}
{% block bodyright %}{% end %}
