{% extends ../frame.html %}

{% block static %}{% end %}
{% block bodyleft %}
	<ul class="nav nav-tabs pull-right">
		<li><a href="/account/setting/">基本设置</a></li>
		<li><a href="/account/setting/alert/">消息设置</a></li>
		<li class="active"><a>账号绑定</a></li>
	</ul>
	<form class="form-horizontal" name="content-form" method="POST" action="/account/setting/">
		<fieldset>
			<legend>账号绑定</legend>
			<div class="control-group">
				<label class="control-label" for="textarea">绑定新浪微博:</label>
				<div class="controls">
					{% if ifNone(sina_access_token) %}<a href="">已经绑定</a>{% else %}<span id="wb_connect_btn"></span><a href="/auth/sina/"><img src="{{static_url('img/sina_24x24.png')}}"></a>{% end %}
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">完成</button>
				<a class="btn" href="/accout/profile/" >取消</a>
			</div>
		</fieldset>
	</form>
{% end %}
{% block bodyright %}{% end %}
