{% extends ../frame.html %}

{% block static %}
	
	<script type="text/javascript" src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=2798557074"></script>
	<script type="text/javascript">
		WB2.anyWhere(function(W){
			W.widget.connectButton({id: "wb_connect_btn"});
			W.widget.connectButton({
				id: "wb_connect_btn2",
				callback : {
					login:function(o){
						alert("1: "+o.screen_name)
					},
					logout:function(){
						alert('logout 1');
					}
				}
			});
		});
	</script>
	
{% end %}
{% block bodyleft %}
	<div id="tab">
		<div class="Menubox">
			<ul>
				<li id="one1"><a href="/account/setting/">基本设置</a></li>
				<li id="one2"><a href="/account/setting/alert/">消息提示</a></li>
				<li id="one3" class="hover">微博绑定</li>
				<li id="one4" style="display:none;">邮件提醒</li>
			</ul>
		</div>
		<div class="contentbox">
			<div class="hover">
				<form name="content-form" method="POST" action="/account/setting/">
					<div class="li"><label class="lil">绑定新浪微博: <em class="needed"></em></label><div class="lir">
						{% if ifNone(sina_access_token) %}
							<a href="">已经绑定</a>
						{% else %}
							<span id="wb_connect_btn"></span>
						{% end %}
					</div></div>
				</form>
			</div>
		</div>
	</div>
{% end %}
{% block bodyright %}{% end %}