/* event publish */
#event{margin:5px;background:#FDFFD3;}
#event h1{font:bold 30px/30px Arial;}
#event form{display:block;font-size:16px;margin:5px 5px;padding:20px 20px;width:700px;}

/* event show */
//#showdetail{float:left;border-top:3px solid white;width:100%;padding:10px;background:#FDFFD3;}
#showdetail img{float:left;clear:left;margin-right:25px;margin-bottom:15px;}