html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:#F5F5F5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
ul, ul li{list-style-type:none;}s
a img {border:none;}
:focus {outline:0;}

a{cursor:pointer;color:#0078B6;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;color:#F5F5F5;background:#0078B6;}
a:active{text-decoration:none;}


.boxmg{display:block;margin:5px;}
.boxmg a{padding:5px;}

.grbox{background:#C9FFD3;font-size:20px;padding:5px;}
.grbox a{color:#243F15;}
.grbox a:hover{color:#F5F5F5;background:#243F15;}

.ylbox{background:#FDFFD3;font-size:20px;padding:5px;}
.ylbox a{color:#243F15;}
.ylbox a:hover{color:#F5F5F5;background:#FFCC00;}

.gybox{background:#D6D6D6;font-size:20px;padding:5px;}
.gybox a{color:#243F15;}
.gybox a:hover{color:#F5F5F5;background:#FFCC00;}

.apkbox{background:#FFF0F5;padding:5px;border: 1px solid #FF1493;}
.apkbox a{color:black;}
.apkbox a:hover{color:#F5F5F5;background:#FF1493;}

.ardbox{background:#D8BFD8;padding:5px;border: 1px solid #800080;}
.ardbox a{color:black;}
.ardbox a:hover{color:#F5F5F5;background:#800080;}

.ablbox{background:#B0C4DE;padding:5px;border: 1px solid #00008B;}
.ablbox a{color:black;}
.ablbox a:hover{color:#F5F5F5;background:#00008B;}

.agrbox{background:#F0FFF0;padding:5px;border: 1px solid #2E8B57;}
.agrbox a{color:black;}
.agrbox a:hover{color:#F5F5F5;background:#2E8B57;}

.aylbox{background:#FFFFF0;padding:5px;border: 1px solid #FFA500;}
.aylbox a{color:black;}
.aylbox a:hover{color:#F5F5F5;background:#FFA500;}

.abrbox{background:#FAF0E6;padding:5px;border: 1px solid #8B4513;}
.abrbox a{color:black;}
.abrbox a:hover{color:#F5F5F5;background:#8B4513;}

.lucency{opacity:.8;margin:100px auto;}
.lucency input, .lucency button, .lucency button img{opacity:1.0;}
.lucency div{margin:0 auto;}

#shell{margin:0 auto;width:1000px;position:relative;}
#header{position:relative;}
#navi{width:560px;}
#opt{width:200px;}
#header img, #navi, #opt{float:left;}
#opt a{margin-left:5px;}
#opt img{float:right;}
#userinfo{font-size:16px;}
#userinfo img{border:2px solid #FFF;}
#userinfo ul{position:absolute;z-index:1000;display:none;background:#FDFFD3;width:200px;}
#userinfo ul li{height:30px;margin-top:10px;}
#userinfo ul li img{float:left;margin-left:10px;}
#userinfo ul li span{float:right;margin-right:50px;}
#userinfo ul li a{cursor:pointer;color:#0078B6;}
#userinfo ul li a:hover span{color:#F5F5F5;background:#0078B6;}


#bodier{min-height:800px;}
#left{float:left;width:780px;}
#subnavi{height:30px;}
#right{float:left;width:200px;}

.stream{width:210px;background:#EDEDED;margin:10px 0 0 40px;float:left;}
.stream img{margin:5px;}
.stream h4{font-size:16px;padding:5px;}
.stream li{font-size:14px;border-top:1px solid #D6D6D6;padding:5px;}

#showdetail{float:left;margin:5px;width:750px;padding:10px;background:#FDFFD3;}
#showdetail img{float:left;clear:left;margin-right:25px;margin-bottom:15px;border:3px solid #FFCC00;}

#footer{clear:both;margin:10px;}
#footer li a{display:inline;float:right;padding:5px;}


/* weibo */
#weibo {min-width:300px; max-width:700px;display:block;background:white;padding: 20px 50px 10px 20px;}
.show-reply {display:inline-block; list-style:none; width:400px; height:20px; margin:2px 2px 2px 100px; padding:5px 3px;}
.remove{display:none;}
#weibo hr{background:#DDD;color:#DDD;clear:both;float:none;width:100%;height:1px;margin:0 0 17px;border:none;}
.wb_items{border-color: #F1F1F1;color:#444;cursor:default;margin:-3px 0 0;overflow:hidden;}
.wb_items a:hover{color:#F5F5F5;background:#0078B6;}
.wb_item{border-color: #E1E4E5;padding: 0 0 15px 0;margin: 0 0 17px;zoom: 1;border-bottom-width: 1px;border-bottom-style: dotted;}
.wb_item .face {float: left;display: inline;width: 50px;padding: 3px 0 6px;}
.wb_item .face img {display: block;}
.wb_item .content {word-wrap: break-word;font-size: 14px;margin: 0 0 0 60px;line-height: 22px;font-size: 14px;line-height: 22px;}
.wb_item .content a {word-wrap: break-word;}
.wb_item_content {margin:0;}
.wb_item .W_close_color {text-align:right;float:right;font-size:12px;}
.wb_item .content p {padding-bottom:10px;}
.wb_item .content p.W_info {padding: 3px 0 0;}
.wb_item .wb_opt a.date {margin: 0 20px 0 0;}
.wb_item .wb_opt {font-size: 12px;margin:0;}
.wb_item .wb_opt span {float: right;display: inline;}
.wb_vline {margin: 0 5px;color: #E1E4E5;}
.clear {clear: both;height: 0;font: 0/0 Arial;visibility: hidden;}
a, .wb_items a, a.wb_items{color: #0078B6;}
.wb_opt{padding:3px 0 0;font-size:12px;margin:0;color:#7AA5B9;}
.comment_list a, .wb_opt a{color:#7AA5B9;}
.wb_rep_list{line-height:20px;font-size:12px;color:#777;background:#FBFBFB;border:1px solid #E1E4E5;padding: 15px 20px 13px;margin: 10px 0 7px;}
.clearfix {display: block;}
.clearfix::after {content: ".";display: block;height: 0;clear: both;visibility: hidden;}
dl form {display: block;}
.wb_rep_list .reply-content{color:#595959;height:20px;overflow:hidden;width:428px;border:1px solid #C6C6C6;padding:4px 4px 0;font-size:12px;margin:0 0 3px;}
.wb_rep_list .comment_list {padding-top: 8px;margin: 8px 0 0;overflow: hidden;clear: both;border-top-width: 1px;border-top-style: dotted;_zoom: 1;border-color: #E1E4E5;}
.wb_item .comment_list dt{margin-top:0;float: left;display: inline;width: 30px;padding: 3px 0 0;}
.wb_item .comment_list dd{width:auto;display:block;-webkit-margin-start:40px;}
.comment_list dd{margin:0 0 0 40px;line-height:21px;width:490px;word-wrap:break-word;zoom: 1;}
.comment_list dt img{display: block;}
img[width=30]{width:30px;}
img[height=30]{height:30px;}
.wb_item .content p.info{margin:5px 0 0;padding:3px 0 0;}
.wb_item .comment_list dl{display:block;-webkit-margin-before: 1em;-webkit-margin-after: 1em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;}
.comment_list dd .info{padding:0;line-height:15px;overflow:hidden;background:white;color:black;border-color:white;}
.wb_item .info{font-size:12px;}
.wb_item .info span{float:right;display:inline;}
em, i{font-style:normal;font-weight:normal;}
.wb_item .content a{word-wrap:break-word;}
.loading {background: url(/static/img/loading-fb.gif) no-repeat;vertical-align: middle;margin:0 auto;width:40px;}

/* tabs */
#tab{width:600px;margin:0px;padding:0px;margin:0 auto;}
#tab ul li:hover{background:#D3D3D3;text-decoration:none;}
#tab ul{list-style:none;}
#tab .Menubox{width:100%;color:#F5F5F5;background:#C0C0C0;height:30px;line-height:30px;}
#tab .Menubox ul{margin:0px;padding:0px;}
#tab .Menubox li{float:left;display:block;cursor:pointer;width:114px;text-align:center;color:#F5F5F5;}
#tab .Menubox li.hover{padding:0px;background:#fff;width:100px;border:1px solid #A9A9A9;border-bottom:0px solid red;background:#696969;color:#F5F5F5;height:30px;}
#tab .contentbox{clear:both;margin-top:0px;border:1px solid #A9A9A9;border-top:none;text-align:center;padding-top:8px;}

/* list */
