html {margin:0;padding:0;border:0;}
body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, dialog, figure, footer, header, hgroup, nav, section {margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure, dialog, footer, header, hgroup, menu, nav, section {display:block;}
body {line-height:1.5;background:#F5F5F5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;float:none !important;}
table, th, td {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:'';}
blockquote, q {quotes:"" "";}
ul, ul li{list-style-type:none;}s
a img {border:none;}
:focus {outline:0;}

a{cursor:pointer;color:#0078B6;}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;color:#F5F5F5;background:#0078B6;}
a:active{text-decoration:none;}

.left{float:left;}
.right{float:right;}

/* box */
.boxmg{display:block;margin:5px;}
.boxmg a{padding:5px;}

.grbox{background:#C9FFD3;font-size:20px;padding:5px;}
.grbox a{color:#243F15;}
.grbox a:hover{color:#F5F5F5;background:#243F15;}

.ylbox{background:#FDFFD3;font-size:20px;padding:5px;}
.ylbox a{color:#243F15;}
.ylbox a:hover{color:#F5F5F5;background:#FFCC00;}

.gybox{background:#D6D6D6;font-size:20px;padding:5px;}
.gybox a{color:#243F15;}
.gybox a:hover{color:#F5F5F5;background:#FFCC00;}

.apkbox{background:#FFF0F5;padding:5px;border: 1px solid #FF1493;}
.apkbox a{color:black;}
.apkbox a:hover{color:#F5F5F5;background:#FF1493;}

.ardbox{background:#D8BFD8;padding:5px;border: 1px solid #800080;}
.ardbox a{color:black;}
.ardbox a:hover{color:#F5F5F5;background:#800080;}

.ablbox{background:#B0C4DE;padding:5px;border: 1px solid #00008B;}
.ablbox a{color:black;}
.ablbox a:hover{color:#F5F5F5;background:#00008B;}

.agrbox{background:#F0FFF0;padding:5px;border: 1px solid #2E8B57;}
.agrbox a{color:black;}
.agrbox a:hover{color:#F5F5F5;background:#2E8B57;}

.aylbox{background:#FFFFF0;padding:5px;border: 1px solid #FFA500;}
.aylbox a{color:black;}
.aylbox a:hover{color:#F5F5F5;background:#FFA500;}

.abrbox{background:#FAF0E6;padding:5px;border: 1px solid #8B4513;}
.abrbox a{color:black;}
.abrbox a:hover{color:#F5F5F5;background:#8B4513;}

.lucency{opacity:.8;margin:100px auto;}
.lucency input, .lucency button, .lucency button img{opacity:1.0;}
.lucency div{margin:0 auto;}

#shell{margin:0 auto;width:1000px;position:relative;}
#header{position:relative;}
#navi{width:560px;}
#opt{width:200px;}
#header img, #navi, #opt{float:left;}
#header img{background:#C9FFD3;}
#opt a{margin-left:5px;}
#opt img{float:right;}
#userinfo{font-size:16px;}
#userinfo img{border:2px solid #FFF;}
#userinfo ul{position:absolute;z-index:1000;display:none;background:#FDFFD3;width:200px;}
#userinfo ul li{height:30px;margin-top:10px;}
#userinfo ul li img{float:left;margin-left:10px;}
#userinfo ul li span{float:right;margin-right:50px;}
#userinfo ul li a{cursor:pointer;color:#0078B6;}
#userinfo ul li a:hover span{color:#F5F5F5;background:#0078B6;}


#bodier{min-height:800px;}
#title{background:#FDFFD3;color:black;font-size:20px;padding:5px;}
#left{float:left;width:780px;}
#subnavi{height:30px;}
#right{float:left;width:200px;}

#footer{clear:both;margin:10px;}
#footer li a{display:inline;float:right;padding:5px;}

/* tabs */
#tab{width:600px;margin:0px;padding:0px;margin:0 auto;}
#tab form{display:block;font-size:16px;margin:5px 5px;padding:20px 20px;width:400px;}
#tab ul li:hover{background:#D3D3D3;text-decoration:none;}
#tab ul{list-style:none;}
#tab .Menubox{width:100%;color:#F5F5F5;background:#C0C0C0;height:30px;line-height:30px;}
#tab .Menubox ul{margin:0px;padding:0px;}
#tab .Menubox li{float:left;display:block;cursor:pointer;width:114px;text-align:center;color:#F5F5F5;}
#tab .Menubox li.hover{padding:0px;background:#fff;width:100px;border:1px solid #A9A9A9;border-bottom:0px solid red;background:#696969;color:#F5F5F5;height:30px;}
#tab .contentbox{clear:both;margin-top:0px;border:1px solid #A9A9A9;border-top:none;text-align:center;padding-top:8px;background:#FDFFD3;}

/* li */
.li{position:relative; margin-bottom:25px;padding-top:10px;display:block;width:auto;clear:both;}
.li .needed{color:orange;}
.li .lil, .li .lir{float:left;}
.li .lil{width:100px;}
.li .lir{width:300px;}

/* stream */
.stream{width:210px;background:#EDEDED;margin:10px 0 0 40px;float:left;left:0px;top:0px;}
.stream img{margin:5px;}
.stream h4{font-size:16px;padding:5px;}
.stream li{font-size:14px;border-top:1px solid #D6D6D6;padding:5px;}

/* user list*/
.user_list{display:block;position:relative;float:left;}
.user_list ul{display:block;position:relative;float:left;}
.user_list li{display:block;font-size:12px;width:50px;background:#FFCC00;padding:2px;margin:3px 6px;float:left;}
.user_list li span{display:block;overflow:hidden;height:18px;}
