{% extends ../box102.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
/*			var args = {};
			$.postJSON("/a/check/event/", "GET", args, function(response) {
				if (response.error){
					return alert(response.error);
				}
				var e = $('table tbody');
				htmls = response.htmls;
				for (var i=0; i<htmls.length; i++) {
					//$(e).append(htmls[i]);
				}
				//$(e).append('<tr><td colspan="4"><span class="pagination"><ul><li><a href="#">Prev</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">Next</a></li></ul></span><span class="pull-right"><input type="hidden" name="eid" value="eid}}"><button type="submit" class="btn btn-primary">完毕，发布</button><a class="btn" href="/event/" >取消</a></span></td></tr>');
			});
*/			
			$('.btn-toggle').click(function () {
				var btn = $(this);
				btn.button('loading');
				var uncheck = btn.hasClass("btn-primary");
				var isFirst = !btn.hasClass("first");
				var url = btn.attr("ajax-url");
				var args = {};
				args.eid = btn.attr("id").replace("btn-", "");
				if (uncheck) {args.check = true;}
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
						return alert(response.error);
					}
					if (isFirst) {
						btn.button('complete');
						btn.addClass('first');
					} else {
						btn.button('reset');
						btn.removeClass('first');
					}
					btn.toggleClass('btn-primary');
				});
			});
			
		})
	</script>
{% end %}

{% block bodyleft %}
	<div class="btn-toolbar pull-right">
		<div class="btn-group" data-toggle="buttons-radio">
			<button class="btn">未审核</button>
			<button class="btn">审核通过</button>
			<button class="btn">未通过</button>
			<button class="btn">全部</button>
		</div>
	</div>
	<table class="table table-bordered table-striped bg-white">
		<thead>
			<tr>
				<th>#</th>
				<th>活动信息</th>
				<th>报名信息</th>
				<th>✓</th>
			</tr>
			{% for e in event_list %}
			<tr>
				<td rowspan="4">{{ e['number'] }}</td>
				<td>{{ e['nick'] }}在{{ e['created'] }}发布了{{ e['title'] }}活动</td>
				<td>报名从{{ e['fr'] }}到{{ e['to'] }}</td>
				<td rowspan="4">
					<button id="btn-{{ e['id'] }}" class="btn btn-toggle {% if not e['check'] %}btn-primary{% end %}" ajax-url="/a/check/event/" data-loading-text="提交中" data-complete-text="{% if e['check'] %}通过{% else %}取消通过{% end %}">{% if e['check'] %}取消通过{% else %}通过{% end %}</button>
				</td>
				
			</tr>
			<tr>
				<td>时间{{ e['date'] }}地点{{ e['place'] }}</td>
				<td>截止{{ e['deadline'] }}{{ e['when'] }}{{ e['where'] }}</td>
			</tr>
			<tr>
				<td>{{ e['tags'] }}{{ e['level'] }}难度</td>
				<td>声明{{ e['declare_tl'] }}</td>
			</tr>
			<tr>
				<td>花费{{ e['spend_tl'] }}装备{{ e['equip'] }}日程{{ e['schedule_tl'] }}</td>
				<td>注意{{ e['attention_tl'] }}</td>
			</tr>
			{% end %}
		</thead>
		<tbody></tbody>
	</table>
{% end %}
{% block bodyright %}
<div class="tabbable tabs-right">
	<ul class="nav nav-tabs">
		{% if verify(pm, 0x01) %}<li><a href="/check/">网站审核</a></li>{% end %}
		<li class="active"><a>活动审核</a></li>
		<li><a href="/check/tag/">标签管理</a></li>
		<li><a href="/check/note/">游记管理</a></li>
		<li style="display:none;"><a href="/check/people/">驴友审核</a></li>
		<li style="display:none;"><a href="/check/weibo/">微博审核</a></li>
		<li style="display:none;"><a href="/check/club/">俱乐部审核</a></li>
	</ul>
</div>
{% end %}