{% extends ../box102.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			var args = {};
			$.postJSON("/a/check/event/", "GET", args, function(response) {
				if (response.error){
					return alert(response.error);
				}
				var e = $('table tbody');
				htmls = response.htmls;
				for (var i=0; i<htmls.length; i++) {
					$(e).append(htmls[i]);
				}
				$(e).append('<tr><td colspan="4"><span class="pagination"><ul><li><a href="#">Prev</a></li><li class="active"><a href="#">1</a></li><li><a href="#">2</a></li><li><a href="#">3</a></li><li><a href="#">4</a></li><li><a href="#">Next</a></li></ul></span><span class="pull-right"><input type="hidden" name="eid" value="eid}}"><button type="submit" class="btn btn-primary">完毕，发布</button><a class="btn" href="/event/" >取消</a></span></td></tr>');
			});
		})
	</script>
{% end %}

{% block bodyleft %}
	<div class="btn-toolbar pull-right">
		<div class="btn-group" data-toggle="buttons-radio">
			<button class="btn">未审核</button>
			<button class="btn">审核通过</button>
			<button class="btn">未通过</button>
			<button class="btn">全部</button>
		</div>
	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>#</th>
				<th>活动信息</th>
				<th>报名信息</th>
				<th>✓</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
{% end %}
{% block bodyright %}
<div class="tabbable tabs-right">
	<ul class="nav nav-tabs">
		<li class="active"><a>活动审核</a></li>
		<li><a href="/check/tag/">标签管理</a></li>
		<li style="display:none;"><a href="/check/people/">驴友审核</a></li>
		<li style="display:none;"><a href="/check/weibo/">微博审核</a></li>
		<li style="display:none;"><a href="/check/club/">俱乐部审核</a></li>
	</ul>
</div>
{% end %}