{% extends ../box102.html %}

{% block static %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery-ui.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.tags.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/tagit.ui-zendesk.css') }}"/>
	<script language="javascript" src="{{ static_url('js/jquery-ui.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.tags.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/tags.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			yhui.iTag.init('eventTags');
			$('a[data-toggle="tab"]').on('shown', function (e) {
				yhui.iTag.load();
			});
		})
	</script>
{% end %}

{% block bodyleft %}
<div class="tabbable">
	<ul class="nav nav-pills">
		<li class="active"><a href="#event" data-toggle="tab">活动类型</a></li>
		<li><a href="#equip" data-toggle="tab">装备工具</a></li>
		<li><a href="#place" data-toggle="tab">名胜古迹</a></li>
		<li><a href="#appraise" data-toggle="tab">驴友评价</a></li>
		<li><a href="#brand" data-toggle="tab">品牌推广</a></li>
	</ul>
</div>
<div id="etag"> 
	<textarea id="eventTagsPanel" class="span10" rows=20 name="tags" disabled="true"></textarea>
	<input id="eventTagsSingle" name="tags" type="hidden"/>
	<ul id="eventTags" class="pull-left span9"></ul><a id="tag-submit" class="btn btn-primary pull-right">加上去</a>
</div>
{% end %}
{% block bodyright %}
<div class="tabbable tabs-right">
	<ul class="nav nav-tabs">
		<li><a href="/check/event/">活动审核</a></li>
		<li class="active"><a>标签管理</a></li>
		<li style="display:none;"><a href="/check/people/">驴友审核</a></li>
		<li style="display:none;"><a href="/check/weibo/">微博审核</a></li>
		<li style="display:none;"><a href="/check/club/">俱乐部审核</a></li>
	</ul>
</div>
{% end %}