{% extends google.html %}

{% block static %}
	<link rel="stylesheet" href="{{ static_url('css/xxx.css') }}">
	{% block static-added %}{% end %}
{% end %}
{% block leftnav %}{% end %}
{% block center_col %}
							<span style="margin-right: 0pt;" id="taw"><div></div></span> 
							<div class="med" id="res" role="main"> 
								<div style="" id="topstuff">        </div> 
								<div style="" id="search">  <!--a--> 
									<h2 class="hd">Get Results</h2> 
									<div id="ires">   
										<ol eid="" id="rso"> <!--m-->
											<li class="g">
												<div class="vsc" sig="VMv">
													<div class="vspi"></div>
													<span class="tl">
														<h3 class="r"><a href="" target="_blank" class="l" onmousedown="return rwt(this,'','','','1','AFQjCNECIGs_y5WWqY8fWO52WHcEesoydA','','0CCAQFjAA')"><em>加强</em>: 这里放题目</a></h3>
														<button class="vspib"></button>
													</span>
													<div class="s">
														<div class="f kv"><span class="gl"></span></div>
														<span class="st">这里放内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容.<br></span>
														<div class="osl">
															<a href="" target="_blank" onmousedown="">删除</a> - 
															<a href="" target="_blank" onmousedown="">回复</a> - 
															<a href="" target="_blank" onmousedown="">顶</a> - 
															<a href="" target="_blank" onmousedown="">踩</a>
														</div>
													</div>
												</div><!--n-->  <!--m-->
											</li>
										</ol>   
									</div> <!--z--> 
								</div> 
								<div style="" id="botstuff">    
									<div id="vspb">
										<span id="vspci"></span>
										<span id="vsrs"></span>
										<span id="vsrsr"></span>
										<div id="vspc">
											<div id="vsic">
												<img alt="" id="vsli">
												<div id="vsm"></div>
												<a id="vsia"><img alt="Preview image" id="vsi"></a>
											</div>
											<div id="vsvpc"></div>
										</div>
									</div>
									<div class="" id="uh_hp"><a id="uh_hpl"></a></div>
									<div id="uh_h"><a id="uh_hl"></a></div>  
								</div> 
							</div> 
							<div style="" id="bottomads"></div>
							
							<span style="" id="xjs"> 
							<div id="navcnt">
								<table style="border-collapse:collapse; text-align:left; margin:17px auto 0pt; direction:ltr;" id="nav">
									<tbody><tr valign="top">
										<td class="b navend"><span class="csb" style="background-position:-24px 0;width:28px"></span></td><td class="cur"><span class="csb" style="background-position:-53px 0;width:20px"></span>1</td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>2</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>3</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>4</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>5</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>6</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>7</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>8</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>9</a></td>
										<td><a class="fl" href=""><span class="csb ch" style="background-position:-74px 0;width:20px"></span>10</a></td>
										<td class="b navend"><a id="pnnext" class="pn" style="text-decoration: none; text-align: left;" href="http://www.google.com/search?q=s&amp;hl=en&amp;newwindow=1&amp;biw=1280&amp;bih=691&amp;prmd=imvns&amp;ei=5Nd_Trm-Oe6UiAegqoDfDg&amp;start=10&amp;sa=N"><span class="csb ch" style="background-position:-96px 0;width:71px"></span><span style="display:block;margin-left:53px;text-decoration:underline">Next</span></a></td>
									</tr></tbody>
								</table>
							</div>      
						</span>  

{% end %}