{% extends base.html %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="span9">
				{% block bodyleft %}{% end %}
			</div>
			<div class="span3">
				{% block bodyright %}{% end %}
			</div>
		</div>
		<footer class="footer">
			{% block foot %}{% end %}
			<p class="pull-right"><a href="">回到顶部</a></p>
			<p class="pull-left"><a href="http://blog.shenhuxi.com" target="_blank">&nbsp;&nbsp;官方博客</a></p>
			<p class="pull-left"><a href="http://weibo.com/shenhuxi2012" target="_blank">&nbsp;&nbsp;新浪微博</a></p>
			<p class="pull-left"><a href="/contact/">&nbsp;&nbsp;联系我们</a></p>
			<p class="pull-left"><a href="/sitemap/">&nbsp;&nbsp;网站地图</a></p>
			<br/><p class="pull-left" style="color:#bbb;">Copyright &copy; shenhuxi.com <a style="color:#aaa;" href="http://www.miibeian.gov.cn" target="_blank" class="g-gray" rel="nofollow">京ICP备12015937号-2</a></p>
		</footer>
	</div>
{% end %}