<!DOCTYPE html>
<html lang="cn">
	<head>
		<meta charset="utf-8">
		<title>北京户外网</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="驴友 户外 垂直 社区">
		<meta name="author" content="一米七三">
		<script src="{{ static_url('js/bs/html5.js') }}"></script>
		<script src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/jquery.own.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/jquery.cookie.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/utility.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/jquery.lazyload.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/jquery.noty.js') }}" type="text/javascript"></script>
		<script src="{{ static_url('js/alert.js') }}" type="text/javascript"></script>
		<script language="javascript" type="text/javascript">
			$(document).ready(function() {
				//$("img").lazyload({});
				login();
				reg();
			})
		</script>
		<link href="{{ static_url('css/bootstrap.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/mybootstrap.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/doc.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/ie6.css') }}" rel="stylesheet">
		<link href="{{ static_url('css/jquery.noty.css') }}" rel="stylesheet">
		<link rel="shortcut icon" href="./favicon.ico">
		{% block static %}{% end %}
	</head>
	<body data-spy="scroll" data-target=".subnav" data-offset="50">
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a class="brand" href="/">北京户外网</a></li>
							<li class="divider-vertical"></li>
							<li id="nav-weibo" class=""><a href="/weibo/">微博</a></li>
							<li id="nav-event" class=""><a href="/event/">活动</a></li>
							<li id="nav-note" class=""><a href="/note/">游记</a></li>
							<li id="nav-second" style="display:none;"><a href="/second/">二手</a></li>
						</ul>
						<ul class="nav user_log pull-right">
							{% if current_user %}
							<li><a href="" style="display:none;">私信</a></li>
							<li class="divider-vertical"></li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">
									<img src="/image/avatar/{{ uid }}_30" style="width:24px;height:24px;" width=24 height=24 />&nbsp{{ current_user }}<b class="caret"></b>
								</a>
								<ul class="nav-list dropdown-menu">
									<li class="hide"><a href="/account/profile/"><i class="icon-user"></i> &nbsp&nbsp&nbsp&nbsp个人主页</a></li>
									<li><a href="/account/setting/"><i class="icon-cog"></i>&nbsp&nbsp&nbsp&nbsp 账户设置</a></li>
									<li class="hide"><a href="/account/plugin/"><i class="icon-pencil"></i> &nbsp&nbsp&nbsp&nbsp订制应用</a></li>
									<li class="hide"><a href="/account/carte/"><i class="icon-book"></i> &nbsp&nbsp&nbsp&nbsp户外名片</a></li>
									<li class="divider"></li>
									<li><a onclick="logout(this);return false;"><i class="icon-off"></i> &nbsp&nbsp&nbsp&nbsp退出</a></li>
								</ul>
							</li>
							{% else %}
							<li>
								<a class="" data-toggle="modal" href="#login" >登录</a>
							</li>
							<li class="divider-vertical"></li>
							<li>
								<a class="" data-toggle="modal" href="#register" >注册</a>
							</li>
							{% end %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		
		<div class="container">
			<div class="row">
				<div class="span9">
					{% block bodyleft %}{% end %}
				</div>
				<div class="span3">
					{% if warning %}<div class="well"><span class="label label-important">{{ warning }}</span></div>{% end %}
					{% block bodyright %}{% end %}
				</div>
			</div>
			<footer class="footer">
				{% block foot %}{% end %}
				<p class="pull-right"><a href="">回到顶部</a></p>
				<p>七三工作室 ( QQ:149964633 Q群:21986749 )</p>
				<p></p>
			</footer>
		</div><!-- /container -->
		<script type="text/javascript" src="{{ static_url('js/bs/widgets.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/prettify.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-alert.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-modal.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-transition.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-dropdown.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-scrollspy.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-tab.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-tooltip.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-popover.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-button.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-collapse.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-carousel.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/bootstrap-typeahead.js') }}"></script>
		<script type="text/javascript" src="{{ static_url('js/bs/application.js') }}"></script>
		<div id="register" class="modal hide fade">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>注册</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="/account/register/" method="post">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="nick">绰号</label>
							<div class="controls">
								<input name="nick" type="text">
								<span class="help-inline hide">必填</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="email">邮件</label>
							<div class="controls">
								<input name="email" type="text">
								<span class="help-inline hide">必填</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">密码</label>
							<div class="controls">
								<input name="password" type="password">
								<span class="help-inline hide">必填</span>
							</div>
						</div>
						<div class="form-actions">
							<input type="submit" class="btn btn-primary" value="提交"/>
							<a class="btn pull-right" onclick="$('#register').modal('hide');$('#login').modal();return false;">登录</a>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		<div id="login" class="modal hide fade">
			<div class="modal-header">
				<a class="close" data-dismiss="modal">×</a>
				<h3>登录</h3>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" action="/account/login/" method="post">
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="nick">绰号</label>
							<div class="controls">
								<input name="nick" type="text">
								<span class="help-inline hide">必填</span>
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="password">密码</label>
							<div class="controls">
								<input name="password" type="password">
								<span class="help-inline hide">必填</span>
							</div>
						</div>
						<div class="form-actions">
							<a class="btn pull-right" onclick="$('#login').modal('hide');$('#register').modal();return false;">注册</a>
							<input type="submit" class="btn btn-primary" value="提交"/>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</body>
</html>
