{% extends frame.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$(".item-a, .item-b").mouseover(function(){$(this).addClass('mover');});
			$(".item-a, .item-b").mouseout(function(){$(this).removeClass('mover');});
		})
	</script>
{% end %}
{% block bodyleft %}
<div class="guess-warp">
	<div class="row guess-list">

		<div class="group-a">
			<div class="item-a">
				<img src="/image/attach/9cae532ef37647e4a46cfba3275cd41d_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-b">
				<img src="/image/attach/64c69fc12ce04b13b3af7f0b919b9610_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-b">
				<img src="/image/attach/64c69fc12ce04b13b3af7f0b919b9610_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
		</div>
		
		<div class="group-b">
			<div class="item-a">
				<img src="/image/attach/3ae008d06bb846f9a1984c0a4eb39450_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-a">
				<img src="/image/attach/9cae532ef37647e4a46cfba3275cd41d_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-a">
				<img src="/image/attach/3ae008d06bb846f9a1984c0a4eb39450_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
		</div>
		
		<div class="group-c">
			<div class="item-a">
				<img src="/image/attach/3ae008d06bb846f9a1984c0a4eb39450_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-b">
				<img src="/image/attach/64c69fc12ce04b13b3af7f0b919b9610_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
			<div class="item-b">
				<img src="/image/attach/64c69fc12ce04b13b3af7f0b919b9610_300" alt="">
				<div class="item-info"><p>三顿饭了设计的</p></div>
			</div>
		</div>
		
	</div>
</div>
{% end %}
{% block bodyright %}
<h4>最新活动</h4>
<table class="table table-condensed" style="background:white;">
<tbody>

<tr><td><a href="/event/3699d2af58ac4b19b5e957f9da58cc8f/">23</a></td></tr>

<tr><td><a href="/event/805bb6ffb5c4415e84e41646f06bd7df/">植物园看花灯</a></td></tr>

<tr><td><a href="/event/e5e16c3df4f049718db2e7706a6b9a49/">123</a></td></tr>

<tr><td><a href="/event/ea0a5a2b5b6d489f8676bd099248b9f9/">大五朝台</a></td></tr>

<tr><td><a href="/event/36d04847add14bd794d7e0eac2b94f0f/">海驼山</a></td></tr>

<tr><td><a href="/event/07a15e9ab8e0457e9c33627792e28280/">dd</a></td></tr>

<tr><td><a href="/event/cfbaf0c596f1428bbabf5caefd842fc3/">忠孝路上走九遍</a></td></tr>

<tr><td><a href="/event/337cdc987153477cb44f075f3a672668/">昌平滑雪场</a></td></tr>

<tr><td><a href="/event/95a8d394b1354ebeb490321e889599a0/">你好2012</a></td></tr>

<tr><td><a href="/event/ba32b4b31f184715a94d65466fc12447/">坐上火车去拉萨</a></td></tr>

<tr><td><a target="_blank" href="http://www.517huwai.com/activity/7748">丽江文海村 –玉龙雪山 -- 龙蟠--  虎跳峡</a></td>

<td></td>
</tr>
</tbody>
</table>
{% end %}
{% block foot %}
{% end %}
