{% extends box.html %}

{% block static %}{% end %}
{% block box %}
	<div class="agrbox boxmg lucency" style="width:400px;height:300px;">
		<div style="margin:10px 0 0 10px;">
			<form action="/account/invite/" method="POST">
				<input type="text" name="mail" style="width:300px;height:30px;"/>&nbsp&nbsp<input type="submit" value="获取邀请"/>
			</form>
		</div><br/>
		<div style="margin-left:10px;">
			<a style="background:#F0FFF0;" href="/thirdpart/sina/"><img src="{{static_url('img/sina24.png')}}"/></a>&nbsp&nbsp&nbsp&nbsp
	&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a style="background:#F0FFF0;" href="/thirdpart/qq/"><img src="{{static_url('img/qq24.png')}}"/></a>
		</div></br>
		<form action="/account/login/" method="POST">
			<span>绰号：</span><input name="nick" type=text style="width:300px;height:30px;"/><br/><br/>
			<span>密码：</span><input name="password" type=password style="width:300px;height:30px;"/><br/><br/>
			<input type=submit  value="登陆"/>
		</form>
	</div>
{% end %}
