{% extends google.html %}

{% block static %}
{% end %}
{% block leftnav %}
{% end %}
{% block center_col %}
<p>
	<form name="demoForm" id="demoForm" method="post" enctype="multipart/form-data" action="/image/upload">
		<p>上传文件: <input type="file" name="upload" /></p>
		<p><input type="submit" value="Submit" /></p>
	</form>
</p>
<img src="/image/avatar/{{ pid }}"/>&nbsp<img src="/image/avatar/{{ pid }}_100"/>&nbsp<img src="/image/avatar/{{ pid }}_50"/>&nbsp<img src="/image/avatar/{{ pid }}_30"/>
{% end %}
