{% extends ../frame93.html %}

{% block meta %}
	<title>游记_深呼吸</title>
	<meta name="keywords" content="游记列表 户外游记 游记 攻略 见闻 旅游记录">
	<meta name="description" content="深呼吸游记功能旨在为驴友提供记录户外点滴、行程、见闻等等以文字、图片、视频等形式展现出来的">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-note').addClass("active");
			$('.collapse').on('show', function () {
				$(this).parent().find('.abstract').hide();
				$(this).parent().find('.accordion-heading i').attr('class', 'icon-chevron-up');
			})
			$('.collapse').on('hide', function () {
				$(this).parent().find('.abstract').show();
				$(this).parent().find('.accordion-heading i').attr('class', 'icon-chevron-down');
			})
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/note.css') }}"/>
{% end %}
{% autoescape None %}
{% block bodyleft %}
	<div class="accordion box" id="note-list">
		<ul class="breadcrumb" style="background:#ededed;">
			<li><a href="#" title="游记列表" alt="游记列表">游记列表</a></li>
			<li class="pull-right">
				<div class="btn-group">
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">模式切换 <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="/note/list/" title="游记列表表格模式" alt="游记列表表格模式"><i class="icon-th-list"></i> &nbsp;&nbsp;&nbsp;表格模式</a></li>
					</ul>
				</div>
			</li>
		</ul>
		{% for n in note_l %}
		<div class="face pull-left">
			<a href="/weibo/she/{{ n['owner'] }}/" title="{{ n.get('nick', '') }}">
				<img title="" alt="" width=50 height=50 src="/image/avatar/{{ n['owner'] }}_50"  onerror="this.src='/static/img/default_avatar.gif';"/>
			</a>
			<span><a href="/weibo/she/{{ n['owner'] }}/" title="{{ n.get('nick', '') }}">{{ n.get('nick','') }}</a></span>
		</div>
		<div class="accordion-group pull-right" style="width:620px;border-width:0px;">
			<div class="accordion-heading" style="background:#F0FFF0;">
				<a target="_blank" href="/note/{{ n['id'] }}/" class="accordion-toggle pull-left">{{ n['title'] }}</a>
				<a class="accordion-toggle pull-right" data-toggle="collapse" data-parent="#accordion" href="#{{ n['id'] }}" style="width:30px;"><i class="icon-chevron-down"></i></a>
				<div style="clear:both;"></div>
			</div>
			<div class="accordion-inner abstract" style="border-top-width:0px;">
				{{ abstract(n['content'], 180) }}
				<div style="margin:8px 0px;font-size:13px;">{{ n['created'] }}</div>
			</div>
			<div id="{{ n['id'] }}" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					<div class="p">{{ n['content'] }}</div>
					<div class="clear"></div>
				</div>
				<div style="margin:10px 0px;font-size:13px;">{{ n['created'] }}</div>
			</div>
		</div>
		<div class="clear"></div>
		{% end %}
	</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/note/write/">写游记</a>
{% end %}


		
		
		
		
		
		
		
		
		