{% extends ../frame.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-note').addClass("active");
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/note.css') }}"/>
{% end %}
{% autoescape None %}
{% block bodyleft %}
	<div class="accordion bg-white" id="accordion">
		{% for n in note_l %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ n['id'] }}">
					{{ n['title'] }}
				</a>
			</div>
			<div id="{{ n['id'] }}" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					{{ n['content'] }}
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
		{% end %}
	</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/note/write/">写游记</a>
{% end %}


		
		
		
		
		
		
		
		
		