{% extends ../frame.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-note').addClass("active");
		})
	</script>
	<style type="text/css">
/*
.c, .G {
display: block;
}
pre p, pre .p {
font-size: 13px;
line-height: 1.62;
font-family: Arial,Helvetica,sans-serif;
word-wrap: break-word;
white-space: pre-wrap;
}
.PICR {
float: right;
margin-left: 14px;
}
.PICL {
float: left;
margin-right: 14px;
}
.PIC {
text-align: center;
margin: 14px 0;
}
img {
max-width: 100%;
display: block;
margin: auto;
border: 1;
}
*/
	</style>
{% end %}
{% autoescape None %}
{% block bodyleft %}
	<div class="accordion bg-white" id="accordion">
		{% for n in note_l %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#{{ n['id'] }}">
					{{ n['title'] }}
				</a>
			</div>
			<div id="{{ n['id'] }}" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					{{ n['content'] }}
				</div>
			</div>
		</div>
		{% end %}
<div class="c hide">
	<div class="p">似懂非懂 
		<div class="PICR"><img src="http://p4.42qu.us/721/944/198576.jpg"></div> 
		<div class="PICL"><img src="http://p4.42qu.us/721/944/198576.jpg"></div> 
		<div class="PIC"><img src="http://p4.42qu.us/721/944/198576.jpg"></div> 上的发生地方 
	</div>
</div>

	</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/note/write/">写游记</a>
{% end %}


		
		
		
		
		
		
		
		
		