{% extends ../frame93.html %}

{% block meta %}
	<title>游记_深呼吸</title>
	<meta name="keywords" content="游记列表 户外游记 游记 攻略 见闻 旅游记录">
	<meta name="description" content="深呼吸游记功能旨在为驴友提供记录户外点滴、行程、见闻等等以文字、图片、视频等形式展现出来的">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-note').addClass("active");
			$('.collapse').on('show', function () {
				$(this).parent().find('.abstract').hide();
				$(this).parent().find('.accordion-heading i').attr('class', 'icon-chevron-up');
			})
			$('.collapse').on('hide', function () {
				$(this).parent().find('.abstract').show();
				$(this).parent().find('.accordion-heading i').attr('class', 'icon-chevron-down');
			})
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/note.css') }}"/>
{% end %}
{% autoescape None %}
{% block bodyleft %}
	<div class="accordion box" id="note-list">
		<ul class="breadcrumb" style="background:#ededed;">
			<li><a href="#" title="游记列表" alt="游记列表">游记列表</a></li>
			<li class="pull-right">
				<div class="btn-group">
					<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">模式切换 <span class="caret"></span></button>
					<ul class="dropdown-menu">
						<li><a href="/note/abstract/" title="游记列表摘要模式" alt="游记列表摘要模式"><i class="icon-list-alt"></i> &nbsp;&nbsp;&nbsp;摘要模式</a></li>
					</ul>
				</div>
			</li>
		</ul>
		<table class="table table-condensed">
			<thead>
				<tr>
					<th width=50%>游记名称</th>
					<th width=13%>发布时间</th>
					<th>回复</th>
					<th width=12%>补充</th>
				</tr>
			</thead>
			<tbody>
				{% for n in note_l %}
				<tr>
					<td>
						{% if n.has_key('href') %}<a target="_blank" href="{{n['href']}}" title="{{n['title']}}" alt="{{n['title']}}">{% else %}<a href="/note/{{n['id']}}/" target="_blank" title="{{n['title']}}" alt="{{n['title']}}">{% end %}
							{{n['title']}}<i style="color:#CCCCCC;">({{n['nick']}})</i>
						</a>
					</td>
					<td>{{n['created']}}</td>
					<td>173</td>
					<td><a>操作</a></td>
				</tr>
				{% end %}
			</tbody>
		</table>
		{% module Template("util/pagination.html", pagination=pagination, url='/note/', param='') %}
	</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/note/write/">写游记</a>
{% end %}


		
		
		
		
		
		
		
		
		