{% extends ../frame.html %}

{% block meta %}
	<title>导购_北京户外网</title>
	<meta name="keywords" content="户外装备 驴友装备 旅游装备 扎营工具">
	<meta name="description" content="方便驴友最快最精准的找到想要购买的户外装备">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-tag').addClass("active");
		})
	</script>
{% end %}
{% autoescape None %}
{% block bodyleft %}
<div class="box">
	<h1>导购</h1>
</div>
{% end %}
{% block bodyright %}{% end %}


		
		
		
		
		
		
		
		
		