{% extends ../frame.html %}

{% block static %}
	<script src="{{ static_url('js/weibo.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/alert.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-weibo').addClass("active");
			Weibo.init();
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/weibo.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.noty.css') }}"/>
{% end %}
{% block bodyleft %}
	<div id="weibo">
		<div class="num" style="display:block;font-size:16px;margin-bottom:5px;">还可以输入
			<span style="font-size:24px;color:#ff9933;" id="num">140</span> 字
		</div>
		<form action="/weibo" method="post" id="weiboform">
			<textarea rows="2" cols="90%" style="width:85%;" name="content" id="weibo-content"></textarea>
			<input type="submit" class="btn-large" value="发布" style="margin-top:5px;margin-left:20px;">
			<input type="hidden" name="_xsrf" value="ca61c7cf01cf4097bd14c959c519637a">
		</form><br/><hr/>
		<div class="wb_items" maintype="" subtype="">
			<div id="wb_bottom" class="bottom wb_item">
				<a href="#" style="display:block;text-align:center;" onclick="Weibo.extend(this);return false;"></a>
				<input type="hidden" value="0">
			</div>
		</div>
	</div>
{% end %}
{% block bodyright %}
	<ul id="alert" class="well nav nav-pills nav-stacked"></ul>
{% end %}