{% extends ../frame.html %}

{% block meta %}
	<title>{{current_user}}的微博</title>
	<meta name="keywords" content="{{current_user}} 户外 微博">
	<meta name="description" content="{{message['nick']}}说{{message['content']}}">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			Reply.toggle($(".wb_item"));
			$('#nav-weibo').addClass("active");
		})
	</script>
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/weibo.css') }}"/>
{% end %}
{% block bodyleft %}
	<div id="weibo_item" class="wb_items">
		{% if message %}
			{% module Template("weibo/message.html", message=message, uid=uid) %}
		{% end %}
	</div>
{% end %}
{% block bodyright %}{% end %}