<dl class="wb_item" id="m-{{ message['id'] }}">
	<dt class="face">
		<a href="/weibo/she/{{ message['owner'] }}/" title="{{ message['nick'] }}" style="display:block;width:50px;height:50px;overflow-x:hidden;overflow-y:hidden;">
			<img title="{{ message['nick'] }}" alt="{{ message['nick'] }}" width=50 height=50 src="/image/avatar/{{ message['owner'] }}_50"/>
		</a>
	</dt>
	<dd class="content">
		<p class="wb_item_content"><a href="/weibo/she/{{ message['owner'] }}/" title="{{ message['nick'] }}">{{ message['nick'] }}</a>：{{ message['content'] }}</p>
		<p class="wb_opt">
			<span>
				{% if verify(message['perm'], 0x70) %}<a onclick="delItem(this);return false;" id="d-{{ message['id'] }}" class="remove">删除</a><i class="wb_vline">|</i>{% end %}
				{% if uid %}<a onclick="Reply.toggle(this);return false;" id="r-{{ message['id'] }}" class="wb_reply">回复{% if message['count']>0 %}({{message['count']}}){% end %}</a>{% end %}
			</span>
			<d title="{{ message['created'] }}" class="date">{{ message['created'] }}</d>
		</p>
	</dd>
	<dd class="clear"></dd>
</dl>
