{% extends ../frame.html %}

{% block meta %}
	<title>活动审核_北京户外网</title>
	<meta name="keywords" content="活动 审核 驴友 通过">
	<meta name="description" content="北京户外网活动审核方便领队统计规范活动的人员。">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-event').addClass("active");
			$('.btn-toggle').click(function () {
				var btn = $(this);
				btn.button('loading');
				var uncheck = btn.hasClass("btn-primary");
				var isFirst = !btn.hasClass("first");
				var url = btn.attr("ajax-url");
				var args = {};
				args.owner = btn.attr("id").replace("btn-", "");
				args.she = "{{ eid }}";
				if (uncheck) {args.check = true;}
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
						return alert(response.error);
					}
					if (isFirst) {
						btn.button('complete');
						btn.addClass('first');
					} else {
						btn.button('reset');
						btn.removeClass('first');
					}
					btn.toggleClass('btn-primary');
				});
			});
		})
	</script>
{% end %}

{% block bodyleft %}
	<div class="accordion box" id="accordion">
		{% for u in userlist %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="accordion-toggle">
				<a class="pull-left" title="u.get('nick', '匿名驴友')" alt="u.get('nick', '匿名驴友')" style="display:block;width:88%;height:28px;" data-toggle="collapse" data-parent="#accordion" href="#{{ u['id'] }}">
					{{ u.get('nick', None) }}
				</a>
				<button id="btn-{{ u['id'] }}" class="btn btn-toggle {% if not u['switch'] %}btn-primary{% end %}" ajax-url="/a/event/approval/" data-loading-text="提交中" data-complete-text="{% if u['switch'] %}通过{% else %}取消通过{% end %}">
					{% if u['switch'] %}取消通过{% else %}通过{% end %}
				</button>
				</div>
			</div>
			<div id="{{ u['id'] }}" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner hide">
					{{ u }}
				</div>
			</div>
		</div>
		{% end %}
	</div>
{% end %}
{% block bodyright %}
	<a class="btn" href="/event/{{ eid }}/" title="返回活动列表" alt="返回活动列表">回到活动</a>
{% end %}