{% extends ../frame.html %}
{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-event').addClass("active");
			$('.btn-ajax-toggle').click(function () {
				var btn = $(this);
				btn.button('loading');
				var url = btn.attr("ajax-url");
				var kind = btn.attr("ajax-kind");
				var args = {'kind': kind, 'mark': btn.attr("id").replace("btn-", "")};
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
						return alert(response.error);
					}
					if (btn.attr("switch")) {
						btn.button('complete');
						btn.attr("switch", "");
					} else {
						btn.button('reset')
						btn.attr("switch", true);
					}
					btn.toggleClass('btn-primary');
				});
			});
		})
	</script>
{% end %}

{% block bodyleft %}
	<button id="btn-{ id }}" switch={ 123 }} ajax-kind="{ kind }}" ajax-url="/a/toggle/state" data-loading-text="提交中..." data-complete-text="报名成功" class="btn btn-primary btn-ajax-toggle">报名参加</button>
	<br/><br/><br/>
	<div class="accordion" id="accordion">
		{% for u in userlist %}
		<div class="accordion-group">
			<div class="accordion-heading">
				<div class="accordion-toggle">
				<a class="pull-left" style="display:block;width:90%;height:28px;" data-toggle="collapse" data-parent="#accordion" href="#{{ u['id'] }}">
					{{ u.get('nick', None) }}
				</a>
				<button id="btn-{{ u['id'] }}" switch={ 123 }} ajax-kind="{{ u['kind'] }}" ajax-url="/a/toggle/state" data-loading-text="提交中" data-complete-text="已通过" class="btn btn-primary btn-ajax-toggle">通过</button>
				</div>
			</div>
			<div id="{{ u['id'] }}" class="accordion-body collapse" style="height: 0px;">
				<div class="accordion-inner">
					{{ u }}
				</div>
			</div>
		</div>
		{% end %}
	</div>




		<table class="table table-striped">
			<thead>
				<tr>
					<th>姓名</th>
					<th>报名时间</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				{% for u in userlist %}
				<tr>
					<td>{{ u.get('nick', None) }}</td>
					<td>{{ u['created'] }}</td>
					<td><input type="checkbox" name="{{ u['id'] }}" value="1"></td>
				</tr>
				{% end %}
			</tbody>
		</table>
		<div class="pagination">
			<ul>
				<li><a href="#">Prev</a></li>
				<li class="active"><a href="#">1</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">Next</a></li>
			</ul>
		</div>
{% end %}
{% block bodyright %}
	<a class="btn" href="/event/">回到活动</a>
{% end %}