{% extends ../frame.html %}

{% block static %}
	{% block static-added %}{% end %}
{% end %}
{% block bodyleft %}
	<div id="showlist">
		{% for e in event_list %}
		<div class="stream">
			<h4><a href="/event/{{e['id']}}">{{e['title']}}</a></h4>
			<a style="background:#EDEDED;" href="/event/{{e['id']}}"><img width=200 height=200 src="/image/attach/{{e['logo']}}_300"/></a>
			<ul>
				{% if e['tl'][0] %}<li>{{e['tl'][0]}}</li>{% end %}
				<li><a href="/event/{{e['id']}}/">{{e['tl'][1]}}</a></li>
				{% if e['tl'][2] %}<li>{{e['tl'][2]}}</li>{% end %}
			</ul>
		</div>
		{% end %}
	</div>
{% end %}
{% block bodyright %}{% end %}