{% extends ../frame.html %}

{% block static %}
	<script src="{{ static_url('js/weibo.js') }}" type="text/javascript"></script>
	{% block static-added %}{% end %}
{% end %}
{% block bodyleft %}
	<div id="showdetail">
		<img width=300 height=300 src="/image/avatar/{{logo}}_300"/>
		<div style="background:#D8BFD8;">
			<p>发起人：{{ nick }}</p>
			<p>发布日期：{{ created }}</p>
			<p style="display:none;">户外标签：{{ tags }}</p>
			<p>性质：{{ is_merc }}、{{ club }}、{{ level }}</p>
			<p style="display:none;">路线：{{ route }}</p>
			<p>活动地点：{{ place }}</p>
			<p>活动开始时间：{{ date }}</p>
		</div>
		<div style="background:#B0C4DE;">
			<p>报名截止时间：{{ deadline }}</p>
			<p>报名人数：{{ fr }} 到 {{ to }}</p>
			<p>集合时间：{{ when }}</p>
			<p>集合地点：{{ where }}</p>
		</div>
		<p>计划安排：{{ schedule_tl }}</p>
		<p>花费统计：{{ spend_tl }}</p>
		<p style="display:none;">装备要求：{{ equip }}</p>
		<p>免责声明：{{ declare_tl }}</p>
		<p>注意事项：{{ attention_tl }}</p>
		<p style="display:none;">人员配置：{{ members }}</p>
	</div>
	<div style="clear:both;"></div>
	<div id="weibo" name="weibo">
		<div class="num" style="display:block;font-size:16px;">还可以输入
			<span style="font-size:24px;color:#ff9933;" id="num">140</span> 字
		</div>
		<form action="/weibo" method="post" id="weiboform">
			<textarea rows="5" cols="60" name="content" id="weibo-content">#{{ title }}#</textarea>
			<input type="submit" value="回复" style="height:20px;">
			<input type="hidden" name="_xsrf" value="ca61c7cf01cf4097bd14c959c519637a">
		</form><br/><hr/>
		<div class="wb_items" maintype="{{ tid }}" subtype="" title="#{{ title }}#">
			<div class="bottom wb_item"><a href="#" style="display:block;text-align:center;" onclick="Weibo.extend(this);return false;">没有更多的了</a><input type="hidden" value="0"></div>
		</div>
	</div>
{% end %}
{% block bodyright %}
	<div class="apkbox boxmg" style="width:200px;"><p><a>红色</a></p></div>
	<div class="ardbox boxmg" style="width:200px;"><p><a>紫色</a></p></div>
	<div class="ablbox boxmg" style="width:200px;"><p><a>蓝色</a></p></div>
	<div class="agrbox boxmg" style="width:200px;"><p>
		{% if is_join %}
			{% module Template("util/state_toggle.html", id=id, kind='join', switch='报名参加', value='退出活动') %}
		{% else %}
			{% module Template("util/state_toggle.html", id=id, kind='join', switch='退出活动', value='报名参加') %}
		{% end %}
	</p></div>
	<div class="aylbox boxmg" style="width:200px;"><p><a>黄色</a></p></div>
	<div class="abrbox boxmg" style="width:200px;"><p><a>棕色</a></p></div>
{% end %}