{% extends ../google.html %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.own.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/utility.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$("#poster").uploadify({
				swf				: '{{ static_url("js/uploadify.swf") }}',
				uploader		: '/a/image',
				checkExisting	: '/a/image/check',
				buttonText		: '点击上传',
				cancelImage		: '{{ static_url("img/uploadify-cancel.png") }}',
				auto			: true,
				fileObjName		: 'upload',
				onUploadSuccess : function (file, data, response) {
					//$('#poster').html('<img src="/image/avatar/'+data+'_300"/>');
					$('#poster').html('<span><input type="hidden" name="logo" value="'+data+'"/>已上传</span>');
					$('#poster_queue').hide();
					},
				onError			: function (event, queueID, fileObj){alert("文件:" + fileObj.name + " 上传失败");}
			});
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/event.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
{% end %}
{% block leftnav %}
	<div>
		<a href="/event/list">活动列表</a>
	</div>
{% end %}
{% block center_col %}
	<div id="event">
		<h1>活动发布</h1>
		<form method="POST" action="/event/puba/">
			<div class="event_li"><label class="eleft">标题<em class="needed">*</em></label><div class="eright"><input type="text" name="title"></div></div>
			<div class="event_li"><label class="eleft">宣传海报<em class="needed">*</em></label><div class="eright">
				<div id="poster">Uploadify</div>
			</div></div>
			<div class="event_li"><label class="eleft">人员配置<em class="needed">*</em></label><div class="eright"><input type="text" name="members" value="发起人：{{current_user}}"></div></div>
			<div class="event_li"><label class="eleft">类型<em class="needed">*</em></label>
				<div class="eright">
					<select name="tags"><option value ="montain">登山</option><option value ="swim">游泳</option></select>
					<select name="is_merc"><option value ="no_merc">非商业</option><option value ="is_merc">商业</option></select>
					<select name="level"><option value ="1.0">1.0</option><option value ="1.5">1.5</option></select>
					<select name="club"><option value ="site">公开</option></select>
				</div>
			</div>
			<div class="event_li" style="display:none;"><label class="eleft">路线<em class="needed">*</em></label><div class="eright">route</div></div>
			<div class="event_li"><label class="eleft">日期<em class="needed">*</em></label><div class="eright"><script>toggleDate("begin_time", 0,0,0)</script></div></div>
			<div class="event_li" style="display:none;"><label for="" class="eleft">地点<em class="needed">*</em></label><div class="eright">place</div></div>
			<div class="event_li"><label class="eleft">行程安排<em class="needed">*</em></label><div class="eright"><textarea name="schedule_tl" rows="5" cols="60"></textarea></div></div>
			<div class="event_li"><label class="eleft">费用明细<em class="needed">*</em></label><div class="eright"><textarea name="spend_tl" rows="3" cols="60"></textarea></div></div>
			<div class="event_li"><label class="eleft">装备要求<em class="needed"></em></label><div class="eright"><textarea name="equip" rows="3" cols="60"></textarea></div></div>
			<div class="event_li"><label class="eleft">注意事项<em class="needed"></em></label><div class="eright"><textarea name="declare_tl" rows="3" cols="60"></textarea></div></div>
			<div class="event_li"><label class="eleft">免责声明<em class="needed"></em></label><div class="eright"><textarea name="attention_tl" rows="3" cols="60"></textarea></div></div>
			<div class="event_li"><label class="eleft"><em class="needed"></em></label><div class="eright"><input type="submit" value="提交"></div></div>
		</form>
	</div>
{% end %}
