{% extends ../frame.html %}

{% block static %}
	<script src="{{ static_url('js/jquery.masonry.min.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/jquery.infinitescroll.min.js') }}" type="text/javascript"></script>
	<script src="{{ static_url('js/falls.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-event').addClass("active");
				var $falls = $('#falls');
				
				$falls.imagesLoaded(function(){
					$falls.find('.item').fadeIn('slow');
					$falls.masonry({
						columnWidth: 240,
						isAnimated: true,
						// 各 个 图 片 的 容 器
						itemSelector : '.item'
					});
					$('#loadingPins').addClass('hide');
				})
				
				$falls.infinitescroll({
					navSelector  : "#nav-extend",
					nextSelector : "#nav-extend a",
					itemSelector : ".item",          
					debug        : false,
					loadingImg   : "http://www.infinite-scroll.com/loading.gif",
					loadingText  : "加载中...",      
					animate      : true,      
					extraScrollPx: 50,      
					donetext     : "加载完毕" ,
					bufferPx     : 40,
					errorCallback: function(e){},
					localMode    : true
					},
					function( newElements ) {
						var $newElems = $( newElements ).css({ opacity: 0 });
						$newElems.imagesLoaded(function(){
							$newElems.animate({ opacity: 1 });
							$container.masonry( 'appended', $newElems, true ); 
							$container.find('.item').fadeIn('slow');
						});
						window.console && console.log('context: ',this);
						window.console && console.log('returned: ', newElements);
					}
				);
			})
	</script>
{% end %}
{% block bodyleft %}
	<ul class="breadcrumb" style="background:#ededed;">
		{% if title %}<li><a href="#">{{ title }}</a></li>{% end %}
		<li class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">模式切换 <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/event/"><i class="icon-pencil"></i> &nbsp&nbsp&nbsp文字模式</a></li>
					<li style="display:none;"><a href="/event/map/"><i class="icon-map-marker"></i> &nbsp&nbsp&nbsp地图模式</a></li>
				</ul>
			</div>
		</li>
	</ul>

	<ul id="falls" class="thumbnails bg-white">
		{% for e in event_list %}
			<li class="span3 item">
				<div class="thumbnail">
					<h3>
						{% if e.has_key('href') %}<a target="_blank" href="{{e['href']}}">{% else %}<a href="/event/{{e['id']}}/">{% end %}
							{{e['title']}}
						</a>
					</h3>
					{% if e.has_key('href') %}
						<a style="background:#EDEDED;" target="_blank" href="{{e['href']}}"><img src="{{e['logo']}}"/>
					{% else %}
						<a style="background:#EDEDED;" href="/event/{{e['id']}}"><img src="/image/attach/{{e['logo']}}_300"/>
					{% end %}
						</a>
					<ul class="caption unstyled">
						{% if e['tl'][0] %}<li>{{e['tl'][0]}}</li>{% end %}
						<li><a href="/event/{{e['id']}}/">{{e['tl'][1]}}</a></li>
						{% if e['tl'][2] %}<li>{{e['tl'][2]}}</li>{% end %}
					</ul>
				</div>
			</li>
		{% end %}
	</ul>
	<div id="loadingPins" class="hide"><img src="{{ static_url('img/loading-fb.gif') }}" alt="Loading"></div>
	<nav id="nav-extend" style="display:none;"><a href="/event/"></a></nav>
{% end %}
{% block bodyright %}
		<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/event/puba/">发布活动</a>
{% end %}