{% extends ../frame.html %}

{% block meta %}
	<title>{{title}}_北京户外网</title>
	<meta name="keywords" content="{{title}} {{ list2txt(place) }} 户外 驴友 活动">
	<meta name="description" content="活动{{title}}地点在{{ list2txt(place) }}给力发布">
{% end %}

{% autoescape None %}
{% block static %}
	<script src="{{ static_url('js/weibo.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			Weibo.init();
			$('#nav-event').addClass("active");
			var isFirst = true;
			$('.btn-toggle').click(function () {
				if (!$.cookie("uid")) {
					$('#login').modal();
					return false;
				}
				var btn = $(this);
				btn.button('loading');
				var url = btn.attr("ajax-url");
				var args = {};
				args.owner = btn.attr("id").replace("btn-", "");
				args.she = "{{ eid }}";
				$.postJSON(url, "POST", args, function(response) {
					if (response.error){
						return alert(response.error);
					}
					if (isFirst) {
						btn.button('complete');
						isFirst = false;
					} else {
						btn.button('reset');
						isFirst = true;
					}
					btn.toggleClass('btn-success');
				});
			});
		})
	</script>
	{% block static-added %}{% end %}
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/event.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/weibo.css') }}"/>
{% end %}
{% block bodyleft %}
<div id="event-item" class="box" style="padding:0px;background:#F2F0F0;">
	<h2 style="text-align:center;">{{ title }}</h2>
	<ul class="thumbnails" style="padding-top:20px;">
		<li class="span4">
			<a href="#" class="thumbnail" title="{{title}}" alt="{{title}}">
				<img width="300" height="300" src="/image/attach/{{logo}}_300" alt="{{title}}"/>
			</a>
		</li>
		<li class="span5 bg-white" style="margin-left:8px;color:black;padding:10px 0 0 10px;border-radius:5px;">
			{% if members %}
				{% for k in members %}<p>{{k}} : {{members[k]}}</p>{% end %}
			{% end %}
			<p>发布日期：{{ created }}</p>
			<p style="display:none;">户外标签：{{ tags }}</p>
			<p>性质：{{ is_merc }}、{{ club }}、<a href="/event/difficulty/{{ level }}/" title="户外难度系数{{ level }}" alt="户外难度系数{{ level }}">难度{{ level }}</a></p>
			<p style="display:none;">路线：{{ route }}</p>
			{% if list2txt(place) %}<p>活动地点：{{ list2txt(place) }}</p>{% end %}
			<p>活动开始时间：{{ date }}</p>
			<p>花费统计：{{ spend_tl }}</p>
			<p>户外类型：{{ list2url(tags) }}</p>
			<p>装备要求：{{ list2url(equip) }}</p>
		</li>
		<li class="span8" style="margin-left:60px;">
			<p>计划安排：{{ schedule_tl }}<a href="" onclick="$('#schedule_tl').modal();return false;">&nbsp;详细&nbsp;>></a></p>
		</li>
	</ul>
	<div style="clear:both;"></div>
</div>
<div class="box">
	<div id="weibo" name="weibo">
		<div class="num" style="display:block;font-size:16px;margin-bottom:5px;">还可以输入
			<span style="font-size:24px;color:#ff9933;" id="num">140</span> 字
		</div>
		<form action="/weibo" method="post" id="weiboform">
			<textarea rows="2" cols="90%" style="width:85%;" name="content" id="weibo-content">#{{ title }}#</textarea>
			<input type="submit" class="btn-large" value="发布" style="margin-top:5px;margin-left:20px;">
			<input type="hidden" name="_xsrf" value="ca61c7cf01cf4097bd14c959c519637a">
		</form><br/><hr/>
		<div class="wb_items" maintype="{{ tid }}" subtype="" kind="event" title="#{{ title }}#">
			<div id="wb_bottom" class="bottom wb_item"><a href="#" style="display:block;text-align:center;" onclick="Weibo.extend(this);return false;"></a><input type="hidden" value="0"></div>
		</div>
	</div>
</div>
{% if schedule_tl %}
<div id="schedule_tl" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>计划安排</h3>
	</div>
	<div class="modal-body">
		<p>
			{{ schedule_tl }}
		</p>
		</form>
	</div>
</div>
{% end %}

{% if declare_tl %}
<div id="declare_tl" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>免责声明</h3>
	</div>
	<div class="modal-body">
		<p>
			{{ declare_tl }}
		</p>
		</form>
	</div>
</div>
{% end %}
{% if attention_tl %}
<div id="attention_tl" class="modal hide fade">
	<div class="modal-header">
		<a class="close" data-dismiss="modal">×</a>
		<h3>注意事项</h3>
	</div>
	<div class="modal-body">
		<p>
			{{ attention_tl }}
		</p>
		</form>
	</div>
</div>
{% end %}

{% end %}
{% block bodyright %}
	{% if user_list %}
	<div class="well">
		<a class="btn btn-info" title="报名列表" alt="报名列表" href="/event/{{ eid }}/member/">报名列表</a>
	</div>
	{% end %}
	{% if uid == owner %}<div class="well"><a class="btn btn-warning" title="报名审核" alt="报名审核" href="/event/{{ eid }}/approval/">报名审核</a></div>{% end %}
	
	<div class="well">
		<h4>报名信息</h4><br/>
		<p>报名截止：{{ deadline }}</p>
		<p>报名人数：{{ fr }} 到 {{ to }}</p>
		<p>集合时间：{{ when }}</p>
		<p>集合地点：<a href="/map/{{ where }}/" target="_blank">点击查看</a></p>
		<p>{% if declare_tl %}<a href="" title="{{title}}免责声明" alt="{{title}}免责声明" onclick="$('#declare_tl').modal();return false;">免责声明</a>{% end %}</p>
		<p>{% if attention_tl %}<a href="" title="{{title}}注意事项" alt="{{title}}注意事项" onclick="$('#attention_tl').modal();return false;">注意事项</a>{% end %}</p>
		<button id="btn-{{ uid }}" class="btn btn-toggle {% if not is_join %}btn-success{% end %}" ajax-url="/a/event/join/" data-loading-text="提交中" data-complete-text="{% if is_join %}参加活动{% else %}退出活动{% end %}">
			{% if is_join %}退出活动{% else %}参加活动{% end %}
		</button>&nbsp;&nbsp;还有{{to-cntDict(user_list, switch=True)}}个名额
	</div>
{% end %}