{% extends ../frame.html %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {$('#nav-event').addClass("active");})
	</script>
{% end %}
{% block bodyleft %}
	<ul class="breadcrumb" style="background:#ededed;">
		{% if title %}<li><a href="#">{{ title }}</a></li>{% end %}
		<li class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">模式切换 <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/event/falls/"><i class="icon-picture"></i> &nbsp&nbsp&nbsp图片模式</a></li>
					<li style="display:none;"><a href="/event/map/"><i class="icon-map-marker"></i> &nbsp&nbsp&nbsp地图模式</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<table class="table table-condensed bg-white">
		<thead>
			<tr>
				<th width=50%>活动名称</th>
				<th width=13%>开始时间</th>
				<th>活动地点</th>
				<th width=12%>补充</th>
			</tr>
		</thead>
		<tbody>
			{% for e in event_list %}
			<tr>
				<td>
					{% if e.has_key('href') %}<a target="_blank" href="{{e['href']}}">{% else %}<a href="/event/{{e['id']}}/">{% end %}
						{{e['title']}}<i style="color:#CCCCCC;">({{e['nick']}})</i>
					</a>
				</td>
				<td>{{e['date']}}</td>
				<td>{{e['place']}}</td>
				<td>{% if not e.has_key('href') %}<a href="/event/{{e['id']}}/">{{e['tl'][1]}}</a>{% end %}</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	{% module Template("util/pagination.html", pagination=pagination, url='/event/') %}
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/event/puba/">发布活动</a>
{% end %}