{% extends ../frame93.html %}

{% block meta %}
	<title>活动列表_深呼吸</title>
	<meta name="keywords" content="活动 登山 游泳 骑行 穿越 足球 篮球 驴友">
	<meta name="description" content="深呼吸活动列表展示户外活动，方便驴友查询自己喜欢的户外活动">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {$('#nav-event').addClass("active");})
	</script>
{% end %}
{% block bodyleft %}
<div class="box">
	<ul class="breadcrumb" style="background:#ededed;">
		{% if title %}<li><a href="#" title="{{ title }}" alt="{{ title }}">{{ title }}</a></li>{% end %}
		<li class="pull-right">
			<div class="btn-group">
				<button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">模式切换 <span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="/event/falls/" title="活动列表图片模式" alt="活动列表图片模式"><i class="icon-picture"></i> &nbsp&nbsp&nbsp图片模式</a></li>
					<li style="display:none;"><a href="/event/map/" title="活动列表地图模式" alt="活动列表地图模式"><i class="icon-map-marker"></i> &nbsp&nbsp&nbsp地图模式</a></li>
				</ul>
			</div>
		</li>
	</ul>
	<table class="table table-condensed bg-white">
		<thead>
			<tr>
				<th width=50%>活动名称</th>
				<th width=13%>开始时间</th>
				<th>活动地点</th>
				<th width=12%>补充</th>
			</tr>
		</thead>
		<tbody>
			{% for e in event_list %}
			<tr>
				<td>
					{% if e.has_key('href') %}<a target="_blank" href="{{e['href']}}" title="{{e['title']}}" alt="{{e['title']}}">{% else %}<a href="/event/{{e['id']}}/" title="{{e['title']}}" alt="{{e['title']}}">{% end %}
						{{e['title']}}<i style="color:#CCCCCC;">({{e['nick']}})</i>
					</a>
				</td>
				<td>{{e['date']}}</td>
				<td>{{e['place']}}</td>
				<td>{% if not e.has_key('href') %}<a href="/event/{{e['id']}}/"title="{{e['tl'][1]}}" alt="{{e['tl'][1]}}">{{e['tl'][1]}}</a>{% end %}</td>
			</tr>
			{% end %}
		</tbody>
	</table>
	{% module Template("util/pagination.html", pagination=pagination, url='/event/', param='') %}
</div>
{% end %}
{% block bodyright %}
	<a class="btn btn-large btn-success" title="发布活动" alt="发布活动" onclick="if (!$.cookie('uid')) {$('#login').modal();return false;}return true;" href="/event/puba/">发布活动</a>
{% end %}