{% extends ../frame.html %}

{% block meta %}
	<title>活动发布_北京户外网</title>
	<meta name="keywords" content="活动发布 户外活动发布 领队发活动">
	<meta name="description" content="北京户外网最友好的户外活动发布系统">
{% end %}

{% block static %}
	<script language="javascript" src="{{ static_url('js/jquery.uploadify.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/event.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery-ui.min.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.tags.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/tags.js') }}" type="text/javascript"></script>
	<script language="javascript" src="{{ static_url('js/jquery.grid.js') }}" type="text/javascript"></script>
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-event').addClass("active");
			$("#poster").uploadify({
				swf				: '{{ static_url("js/uploadify.swf") }}',
				uploader		: '/a/image',
				checkExisting	: '/a/image/check',
				buttonText		: '点击上传',
				cancelImage		: '{{ static_url("img/uploadify-cancel.png") }}',
				auto			: true,
				fileObjName		: 'upload',
				onUploadSuccess : function (file, data, response) {
					$('#poster-disp').html('<span><input type="hidden" name="logo" value="'+data+'"/><img width=100 height=100 src="/image/attach/'+data+'_300"></span>');
					$('#poster_queue').hide();
					},
				onError			: function (event, queueID, fileObj){alert("文件:" + fileObj.name + " 上传失败");}
			});
			Event.checka();
			$("input[rel=popover]").popover({trigger: 'focus'});
			$("textarea[rel=popover]").popover({trigger: 'focus', placement: 'top'});
			yhui.iGrid.createGrid($("#egrid"), {
				id:"egrid", 
				max_row: 5,
				values: ["发起人", "{{current_user}}"]
			});
			yhui.iTag.create($('#etag'), {
				id:'eventTags',
				eclass: 'span6',
				initTags: false,
				addedAble: false,
				editAble: true,
				tagSource:function(search, showChoices) {
					var that = this;
					var args = {'search': search.term, 'rel': 'event'};
					$.postJSON("/a/tag/list/", 'GET', args, function(response) {
						if (response.error){
							return alert(response.error);
						}
						showChoices(that._subtractArray(response.data, that.assignedTags()));
					});
				}
			});
			yhui.iTag.create($('#etagHelp'), {
				id:'eventHelpTags',
				eclass: 'span6',
				initTags: true,
				relations: 'event',
				addedAble: false,
				editAble: false,
				tagSource:function(search, showChoices) {
					var that = this;
					var args = {'search': search.term, 'rel': 'event'};
					$.postJSON("/a/tag/list/", 'GET', args, function(response) {
						if (response.error){
							return alert(response.error);
						}
						showChoices(that._subtractArray(response.data, that.assignedTags()));
					});
				},
				onTagClicked:function(evt, tag) {
					var tname = $(tag).find('.tagit-label').html();
					$("#eventTags").tagit('createTag', tname, '', 'id');
					$("#eventHelpTags").tagit('removeTag', tag);
				}
			});
			yhui.iTag.create($('#qtag'), {
				id:'equipTags',
				eclass: 'span6',
				initTags: false,
				addedAble: false,
				editAble: true,
				tagSource:function(search, showChoices) {
					var that = this;
					var args = {'search': search.term, 'rel': 'equip'};
					$.postJSON("/a/tag/list/", 'GET', args, function(response) {
						if (response.error){
							return alert(response.error);
						}
						showChoices(that._subtractArray(response.data, that.assignedTags()));
					});
				}
			});
			yhui.iTag.create($('#qtagHelp'), {
				id:'equipHelpTags',
				eclass: 'span6',
				initTags: true,
				relations: 'equip',
				addedAble: false,
				editAble: false,
				tagSource:function(search, showChoices) {
					var that = this;
					var args = {'search': search.term, 'rel': 'equip'};
					$.postJSON("/a/tag/list/", 'GET', args, function(response) {
						if (response.error){
							return alert(response.error);
						}
						showChoices(that._subtractArray(response.data, that.assignedTags()));
					});
				},
				onTagClicked:function(evt, tag) {
					var tname = $(tag).find('.tagit-label').html();
					$("#equipTags").tagit('createTag', tname, '', 'id');
					$("#equipHelpTags").tagit('removeTag', tag);
				}
			});
			$('#editor').on('hidden', function () {
				var ts = $(this).find("textarea").map(function() {
					return $(this).val();
					}).get();
				$("textarea[name='schedule_tl']").val(ts.join("\n\n"));
			});
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/uploadify.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery-ui.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/jquery.tags.css') }}"/>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/tagit.ui-zendesk.css') }}"/>
{% end %}

{% block bodyleft %}
<div class="box">
	<form class="form-horizontal event-form bg-white" method="POST" action="/event/puba/">
		<fieldset>
			<legend>活动发布---第一步</legend>
			<div class="control-group">
				<label class="control-label" for="focusedInput">活动标题:</label>
				<div class="controls">
					<input class="input-xlarge" name="title" type="text" value="" rel="popover" data-content="标题是驴友们首先看到的东西哦，您的活动够不够吸引眼球，他很关键哦,所以小编提醒您要重视标题哦，亲！" data-original-title="真爱生命，重视标题">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="focusedInput">宣传海报:</label>
				<div class="controls">
					<div id="poster" >图片上传</div><div id="poster-disp" class="pull-left"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">人员配置:</label>
				<div class="controls">
					<div id="egrid"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="inlineCheckboxes">活动属性:</label>
				<div class="controls">
					<label class="checkbox inline">
						 <input type="checkbox" name="is_merc" value="option1">商业
					</label>
					<label class="checkbox inline">
						<input type="checkbox" name="club" value="option2"> 公开
					</label>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="select01">难度系数</label>
				<div class="controls">
					<select name="level">
						<option>0.5</option>
						<option selected>1.0</option>
						<option>1.5</option>
						<option>2.0</option>
						<option>2.5</option>
						<option>3.0</option>
						<option>4.0</option>
						<option>5.0</option>
					</select>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="multiSelect">户外标签</label>
				<div class="controls">
					<div id="etag"></div>
					<div id="etagHelp"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="focusedInput">活动地点:</label>
				<div class="controls">
					<input class="input-xlarge" name="place" type="text" value="" rel="popover" data-content="天南海北，海角天涯 天荒地老 海枯石烂 看着办吧！" data-original-title="施主自哪里来，往“哪里”去？">
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="focusedInput">活动时间:</label>
				<div class="controls">
					<script>toggleDate("begin_time", 0,0,0)</script>
					<div class="input-prepend input-append">
						<span class="add-on">历时</span><input class="span1" name="days" type="text" value="1"><span class="add-on">天</span>
					</div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">行程安排:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="schedule_tl" rows="6" style="width:500px;" rel="popover" data-content="亲爱的领队，有了行程安排您的活动将一切尽在掌握" data-original-title="好的计划是成功的一半"></textarea>
					<a class='pull-right' data-toggle='modal' href='#editor'>弹出编辑&nbsp;&nbsp;&nbsp;&nbsp;</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">费用明细:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="spend_tl" rows="3" style="width:500px;" rel="popover" data-content="俗话说穷家富路，这次活动需要准备多少银两，让大家清楚清楚吧" data-original-title="亲驴友，明算账"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">装备要求:</label>
				<div class="controls">
					<div id="qtag"></div>
					<div id="qtagHelp"></div>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">注意事项:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="attention_tl" rows="3" style="width:500px;" rel="popover" data-content="队伍里面难免会有一些第一次参加户外的初出毛驴(初出茅庐的小驴)，还请领队大人多多提醒啊" data-original-title="这个可以有"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="textarea">免责声明:</label>
				<div class="controls">
					<textarea class="input-xlarge" name="declare_tl" rows="3" style="width:500px;" rel="popover" data-content="反正出了事儿，又不找我，嘿嘿" data-original-title="这个爱有没有"></textarea>
				</div>
			</div>
			<div class="form-actions">
				<input type="submit" class="btn btn-primary" value="进入下一步"/>
				<a class="btn" href="/event/" >取消</a>
			</div>
		</fieldset>
	</form>
</div>
	<div id="editor" class="modal hide fade" style="width:700px;margin-left:-350px;">
		<div class="modal-header">
			<a class="close" data-dismiss="modal">×</a>
			<h3>行成安排</h3>
		</div>
		<div class="modal-body">
			<div class="tabbable tabs-right">
				<ul class="nav nav-tabs">
					<li class="active"><a href="#r1" data-toggle="tab">第1天</a></li>
				</ul>
				<div class="tab-content" style="margin-left:0px;width:460px;">
					<div class="tab-pane active" id="r1">
						<textarea rows=20 class="span7" >第1天</textarea>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script language="javascript" type="text/javascript">
		$(".event-form input[name='days']").on("change", function() {
			var day = parseInt($(this).val());
			$("#editor .nav-tabs").html();
			for (var i=2; i<day+1; i++) {
				$("#editor .nav-tabs").append('<li class=""><a href="#r'+i+'" data-toggle="tab">第'+i+'天</a></li>');
				$("#editor .tab-content").append('<div class="tab-pane" id="r'+i+'"><textarea rows=20 class="span7" >第'+i+'天</textarea></div>');
			}
		});
	</script>
{% end %}
{% block bodyright %}{% end %}