{% extends ../frame.html %}

{% block meta %}
	<title></title>
	<meta name="keywords" content="">
	<meta name="description" content="">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {$('#nav-tag').addClass("active");})
	</script>
{% end %}
{% block bodyleft %}
<h2 style="text-align:center;">{{ content }}</h2>
<div class="tabbable tabs-left">
	<ul class="nav nav-tabs">
		<li class="active"><a>装备</a></li>
		<li><a href="/tag/equip/">标签</a></li>
	</ul>
</div>
{% end %}
{% block bodyright %}{% end %}