{% extends ../frame93.html %}

{% block meta %}
	<title>{{content}}_标签_深呼吸</title>
	<meta name="keywords" content="{{content}} 户外标签 旅游景点标签 装备标签 游记标签">
	<meta name="description" content="深呼吸标签定位更精确的找到户外活动、驴友、游记和攻略等等">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {$('#nav-tag').addClass("active");})
	</script>
{% end %}
{% block bodyleft %}
<div class="box">
	<h2 style="text-align:center;">{{ content }}</h2>
	<div class="tabbable tabs-left">
		<ul class="nav nav-tabs">
			<li class="active"><a>装备</a></li>
			<li><a href="/tag/equip/">标签</a></li>
		</ul>
	</div>
</div>
{% end %}
{% block bodyright %}{% end %}