{% extends ../frame12.html %}

{% block meta %}
	<title>_路线_深呼吸</title>
	<meta name="keywords" content="">
	<meta name="description" content="">
{% end %}

{% block static %}
	<script language="javascript" type="text/javascript">
		$(document).ready(function() {
			$('#nav-wiki').addClass("active");
		})
	</script>
	<link rel="stylesheet" type="text/css" href="{{ static_url('css/wiki.css') }}"/>
{% end %}

{% block bodytop %}
	<div id="wiki-item" class="box">
		<div class="wiki-header">
			<div class="wiki-header-title title_center">香山</div>
			<div class="wiki-header-opt">
				<span class="opt"><a href="">编辑</a></span>
				<i class="opt-vline">|</i>
				<span class="opt"><a href="">帮助</a></span>
			</div>
		</div>
		<div class="clear"></div>
		<hr/>
		<div class="wiki-bodier">
			<ul class="wiki-nav">
				<li><a href="#123">1香八拉路线</a></li>
				<li><a href="#456">2香植路线</a></li>
				<li><a href="#789">3小小五路线</a></li>
			</ul>
			<div class="clear"></div>
			<hr/>
			<div class="wiki-detail">
				<div class="wiki-detail-header">
					<div id="123" class="wiki-detail-title">1香八拉路线</div>
					<div class="wiki-detail-opt">
						<span class="opt"><a href="">编辑</a></span>
						<i class="opt-vline">|</i>
						<span class="opt"><a href="">帮助</a></span>
					</div>
				</div>
				<div class="clear"></div>
				<div class="wiki-detail-bodier">
					<img style="float:right;width:100px;height:100px;" src="" />
					女王公园巡游者足球俱乐部成立于1882年，由两家地区性足球俱乐部合并而成，  女王公园巡游者而合并后还获得新名字，为“Queens Park Rangers”，以表示大多数球员是来自伦敦西北部的女王公园区（Queens Park）。女王公园巡游者于1889年成为职业俱乐部，但长期以来都是处于地区联赛范围。在1917年拥有自己主场地前，甚至前后借用了共二十个球场作为自己的主场。
　　1958/59年在联赛改制下被编入丙组。1966/67年赛季以丙组球队身份赢得英格兰联赛杯，是首支丙组队获得此殊荣。其后再于1968/69年赛季升级至甲组，但只打了一季便降回乙组。迄今最好成绩为1975/76年赛季赢得甲级联赛亚军。随后一直都只在升级降级边缘里挣扎，只有在1981/82年赛季获得英格兰足总杯亚军才值得一提。
　　1992年为英超创始成员，但在1996年因在英超排第十九位而降级至甲组（第二级）；随后更降至乙组（第三级）。直至2003/04年赛季才升回甲组。2010/11年获得英冠联赛冠军，再度升回英超。
　　女王公园巡游者近年曾经被易手。2007年11月7日由意大利商人弗拉维奥·布里亚托利获得俱乐部拥有权，正式入主女王公园巡游者。至2011年8月18日，俱乐部又再转售予马来西亚商人托尼·费尔南德斯（Tony Fernandes）。
				</div>
			</div>
			<hr/>
			<div class="wiki-detail">
				<div class="wiki-detail-header">
					<div id="456" class="wiki-detail-title">2香植路线</div>
					<div class="wiki-detail-opt">
						<span class="opt"><a href="">编辑</a></span>
						<i class="opt-vline">|</i>
						<span class="opt"><a href="">帮助</a></span>
					</div>
				</div>
				<div class="clear"></div>
				<div class="wiki-detail-bodier">
					女王公园巡游者足球俱乐部成立于1882年，由两家地区性足球俱乐部合并而成，  女王公园巡游者而合并后还获得新名字，为“Queens Park Rangers”，以表示大多数球员是来自伦敦西北部的女王公园区（Queens Park）。女王公园巡游者于1889年成为职业俱乐部，但长期以来都是处于地区联赛范围。在1917年拥有自己主场地前，甚至前后借用了共二十个球场作为自己的主场。
　　1958/59年在联赛改制下被编入丙组。1966/67年赛季以丙组球队身份赢得英格兰联赛杯，是首支丙组队获得此殊荣。其后再于1968/69年赛季升级至甲组，但只打了一季便降回乙组。迄今最好成绩为1975/76年赛季赢得甲级联赛亚军。随后一直都只在升级降级边缘里挣扎，只有在1981/82年赛季获得英格兰足总杯亚军才值得一提。
　　1992年为英超创始成员，但在1996年因在英超排第十九位而降级至甲组（第二级）；随后更降至乙组（第三级）。直至2003/04年赛季才升回甲组。2010/11年获得英冠联赛冠军，再度升回英超。
　　女王公园巡游者近年曾经被易手。2007年11月7日由意大利商人弗拉维奥·布里亚托利获得俱乐部拥有权，正式入主女王公园巡游者。至2011年8月18日，俱乐部又再转售予马来西亚商人托尼·费尔南德斯（Tony Fernandes）。
				</div>
			</div>
			<hr/>
			<div class="wiki-detail">
				<div class="wiki-detail-header">
					<div id="789" class="wiki-detail-title">3小小五路线</div>
					<div class="wiki-detail-opt">
						<span class="opt"><a href="">编辑</a></span>
						<i class="opt-vline">|</i>
						<span class="opt"><a href="">帮助</a></span>
					</div>
				</div>
				<div class="clear"></div>
				<div class="wiki-detail-bodier">
					女王公园巡游者足球俱乐部成立于1882年，由两家地区性足球俱乐部合并而成，  女王公园巡游者而合并后还获得新名字，为“Queens Park Rangers”，以表示大多数球员是来自伦敦西北部的女王公园区（Queens Park）。女王公园巡游者于1889年成为职业俱乐部，但长期以来都是处于地区联赛范围。在1917年拥有自己主场地前，甚至前后借用了共二十个球场作为自己的主场。
　　1958/59年在联赛改制下被编入丙组。1966/67年赛季以丙组球队身份赢得英格兰联赛杯，是首支丙组队获得此殊荣。其后再于1968/69年赛季升级至甲组，但只打了一季便降回乙组。迄今最好成绩为1975/76年赛季赢得甲级联赛亚军。随后一直都只在升级降级边缘里挣扎，只有在1981/82年赛季获得英格兰足总杯亚军才值得一提。
　　1992年为英超创始成员，但在1996年因在英超排第十九位而降级至甲组（第二级）；随后更降至乙组（第三级）。直至2003/04年赛季才升回甲组。2010/11年获得英冠联赛冠军，再度升回英超。
　　女王公园巡游者近年曾经被易手。2007年11月7日由意大利商人弗拉维奥·布里亚托利获得俱乐部拥有权，正式入主女王公园巡游者。至2011年8月18日，俱乐部又再转售予马来西亚商人托尼·费尔南德斯（Tony Fernandes）。
				</div>
			</div>
			
		</div>
	</div>
{% end %}
{% block bodybottom %}{% end %}
{% block hidden %}{% end %}